/* Set main colors */
:root {
  --main-blue: #3e6ba6ff;
  --sec-blue: #8eafdafb;
  --button-red: #cf2115;
  --button-green: #80c432;
  --button-gold: #d9793b;
  --opaque-man: rgba(128, 196, 50, 0.4);
  --auto: #d9793b;
  --opaque-auto: rgba(217, 122, 58, 0.3);
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
button:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

/* MAIN TAG SECTION WITH CHILDREN*/
html {
  background-image: url('../icons/whitcher-logo-small-opacity.png');
  background-repeat: repeat space;
  font-family: sans-serif;
  margin: 0;
  padding: 1vh;
}
input[type='text'][disabled] {
  background-color: #fff;
  color: #000;
}
input[type='number'][disabled] {
  background-color: #fff;
  color: #000;
}

input {
  outline: none;
}

span[role='textbox'] {
  outline: none;
}

#hider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  display: none;
  flex-direction: column;
  width: 100%;
}

/* /////////////// */
/* TABLE FORM CSS */
/* //////////////*/
/* Seperation of rows for bundle sizes */
#R0 td,
#R3 td,
#R6 td,
#R9 td,
#R12 td,
#R15 td,
#R18 td,
#R21 td,
#R24 td,
#R27 td {
  padding-top: 10px;
}
#R2 td,
#R5 td,
#R8 td,
#R11 td,
#R14 td,
#R17 td,
#R20 td,
#R23 td,
#R26 td,
#R29 td {
  padding-bottom: 10px;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  padding: 9px 0;
  background-color: var(--main-blue);
}
#row-columns {
  position: sticky;
  margin: 0;
  padding: 0;
}

tbody {
  position: relative;
  padding: 0px;
  margin: 0;
  width: auto;
  height: 100%;
}
tr:nth-child(3n + 1) {
  /* padding-bottom: 20px; */
  border-bottom: 4px solid #ccdaec73;
}

/* COLUMN COLORS */
#treated {
  background-color: var(--opaque-man);
}

#header {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 7vh;
}

/* INPUT BOXES */
.customer-region-item-a {
  position: relative;
  padding: 5.5px 10px;
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 30vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  margin-left: 1vh;
}
.customer-region-item-b,
.price-list-item-a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  height: 6vh;
  width: 25vw;
  padding: 3px 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  margin-left: 1vh;
}

#label-customer-number,
#label-pricelist,
#label-cca {
  background-color: var(--sec-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  width: 5vw;
  height: auto;
}

.cca-box-item-a {
  padding: 3px 0px;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  height: 6vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#pricelist,
#customer-number {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 3vh;
  width: 9vw;
}

#cca-price {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 3vh;
  width: 9vw;
  animation: none;
}

@keyframes cca-flash {
  from {
    border-color: orange;
    color: #000;
    background-color: #fff;
  }
  to {
    border-color: orange;
    color: #fff;
    background-color: orange;
  }
}

#overflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  background-color: #fff;
  height: 3.5vh;
  max-width: 17vw;
  width: 17vw;
  border: 2px solid var(--sec-blue);
  border-radius: 12px;
  padding: 0px 1vw;
}

#customer-name {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 1em;
  padding: 0 1vw;
  width: 15vw;
  height: 3vh;
  max-height: 3.5vh;
  max-width: 17vw;
  overflow-y: auto;
  text-transform: uppercase;
}

#customer-name[contenteditable]:empty::before {
  content: 'CUSTOMER NAME';
  color: gray;
}

#customer-name::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#customer-name::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

/* Main body container */
#border {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 96vh;
  width: auto;
  margin-left: 3vh;
  margin-right: 3vh;
  background-color: var(--sec-blue);
  border: 3px solid var(--sec-blue);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

/* Entire table container */
.table-container {
  position: relative;
  text-align: center;
  background-color: #ffff;
  border: 4px solid var(--main-blue);
  border-radius: 10px;
  width: auto;
  height: 81vh;
  overflow: hidden;
}
/* Inner container to seperate border and scrollbar */
#container {
  position: relative;
  overflow: auto;
  max-height: 80.5vh;
}

/* Scrollbar Customization for Table */
#container::-webkit-scrollbar {
  width: 12px;
}

#container::-webkit-scrollbar-track {
  background-color: var(--main-blue);
}

#container::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

/* floating column names */
#columns {
  background-color: var(--main-blue);
  border-bottom: 3px solid var(--main-blue);
}

/* Container for js html population */
#table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
/* text entries for prices in table */
.table-entries {
  text-align: center;
  font-size: 15px;
}
.price-entries-treated {
  text-align: center;
  font-size: 15px;
}
.price-entries-untreated {
  text-align: center;
  font-size: 15px;
}

#footer {
  position: relative;
  top: 0.5vh;
  background-color: var(--sec-blue);
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 2.2vh;
  margin-bottom: 1vh;
  border: 3px solid #fff;
  border-radius: 20px;
  height: 7vh;
  width: 50vw;
}
#len {
  background-color: var(--opaque-auto);
}

#p2sys-logo {
  position: relative;
  bottom: 1.1vh;
  left: 16vw;
  width: 8vh;
}

/* /////////////////// */
/* TABLE FORM BUTTONS */
/* ///////////////// */
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 15px;
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.back-to-main-btn {
  top: -1.2vh;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid var(--button-red);
  width: 11vw;
  padding: 1vh 0px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

.back-to-main-btn:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.create-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  top: -1.2vh;
  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  width: 11vw;
  padding: 1vh 0px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.create-btn-disabled {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
  top: -1.2vh;
  background-color: grey;
  color: #fff;
  border: 2px solid grey;
  width: 11vw;
  padding: 1vh 0px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.create-btn:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.pause-btn {
  top: -1.2vh;
  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  width: 11vw;
  padding: 1vh 0px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

.pause-btn:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.cca-auto-out {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: #fff;
  color: var(--auto);
  border: 2px solid var(--auto);
  font-size: 12px;
  width: 3vw;
  padding: 5px 20px;
  margin-left: 0.5vw;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.cca-auto-in {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--auto);
  color: #fff;
  border: 2px solid var(--auto);
  font-size: 12px;
  width: 3vw;
  padding: 5px 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.cca-man-in {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  font-size: 12px;
  width: 3vw;

  padding: 5px 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.cca-man-out {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: #fff;
  color: var(--button-green);
  border: 2px solid var(--button-green);
  font-size: 12px;
  width: 3vw;

  padding: 5px 20px;
  margin-left: 0.5vw;
  text-align: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.info-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 12px;
  width: 3vw;

  padding: 5px 25px;
  margin-right: 0.5vw;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.email-now {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 12px;
  width: 3vw;

  padding: 5px 25px;
  margin-left: 0.5vw;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

@keyframes letterchanger {
  0% {
    content: 'SEND';
  }
  50% {
    color: var(--button-gold);
  }
  100% {
    content: 'EMAIL';
  }
}
.email-now::after {
  content: 'EMAIL';
  animation: letterchanger 4s ease-in-out infinite alternate;
}

@keyframes letterchanger2 {
  0% {
    content: 'SEND';
  }
  50% {
    color: #fff;
  }
  100% {
    content: 'EMAIL';
  }
}
.email-now:hover::after {
  content: 'EMAIL';
  animation: letterchanger2 4s ease-in-out infinite alternate;
}

.info-btn:hover,
.email-now:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.lock-in {
  position: absolute;
  left: 29.5vw;
  z-index: 3;
  top: 0.3vh;
  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  width: 45px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.lock-out {
  left: 29.5vw;
  z-index: 3;
  top: 0.3vh;
  background-color: #fff;
  color: var(--button-gold);
  border: 2px solid var(--button-gold);
  position: absolute;
  width: 45px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.unlock-out {
  left: 42vw;
  top: 0.3vh;
  z-index: 3;
  background-color: #fff;
  border: 2px solid var(--button-green);
  color: var(--button-green);
  position: absolute;
  width: 45px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.unlock-in {
  left: 42vw;
  top: 0.3vh;
  z-index: 3;
  background-color: var(--button-green);
  border: 2px solid var(--button-green);
  color: #fff;
  position: absolute;
  width: 45px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bolder;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

#unlock-svg {
  fill: var(--button-green);
  width: 18px;
  height: 18px;
}

#lock-svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

/* /////////////////////// */
/* CHECK CUSTOMER BOX CSS */
/* //////////////////// /*/

#db-customer-search {
  position: absolute;
  bottom: 3vh;
}
#db-table {
  position: absolute;
  left: -14vw;
  bottom: 1.5vh;
  width: 8vw;
}
#db-table .text {
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

.text {
  position: relative;
  font-size: 11px;
  font-weight: bolder;
  text-align: center;
  padding: 1vh 3vw;
}
.text::after {
  content: attr(data-label);
}

.db-light {
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  width: 22vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.db-fail {
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: var(--button-red);
  display: flex;
  width: 22vw;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.db-connected {
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 22vw;

  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
  animation: db-success 1.5s linear infinite alternate;
}

@keyframes db-success {
  from {
    background-color: #e1e1e1;
  }
  to {
    background-color: var(--button-green);
  }
}

.db-update {
  position: relative;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  width: 22vw;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
  animation: db-flash 0.1s linear infinite alternate;
}

@keyframes db-flash {
  from {
    background-color: var(--button-gold);
  }
  to {
    background-color: var(--man);
  }
}

#check-customer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  align-items: center;
  height: 100%;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  background-color: #fff;
  background-image: url('../icons/whitcher-logo-small-opacity.png');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center top;
  z-index: 3;
  transition: visibility 0.3s, opacity 0.3s linear;
}
#check-background {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding: 2vh;
  background-color: var(--sec-blue);
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#customer-search-container {
  padding: 5px 6px;
  height: 7vh;
  border: 2px solid #fff;
  border-radius: 50px;
}
#customer-search-container img {
  width: auto;
  height: 34px;
  margin-right: 10px;
  margin-left: 10px;
}

#customer-search {
  text-transform: uppercase;
  padding: 4px;
  margin-right: 15px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  border-radius: 50px;
  border: 4px solid #fff;
}
#customer-search:focus {
  outline: none;
  animation: flash 1s steps(2, end) infinite;
}
@keyframes flash {
  from {
    border: 4px solid #fff;
  }
  to {
    border: 4px solid orange;
  }
}

#customer-number-list {
  background-color: #fff;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  height: 20vh;
  padding: 5px;
}
#customer-list {
  width: 100%;
  height: auto;
  overflow: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#customer-list::-webkit-scrollbar {
  width: 2px;
  background-color: lightgrey;
}
#customer-list::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: grey;
}

/* /////////////////// */
/* POPULATED HTML CSS */
/* ///////////////// */

.cusnum {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
  margin: 0;
  border-radius: 10px;

  padding: 2px;
  border-bottom: 3px solid #e8eaed80;
}
.cusnum-clicked {
  position: relative;
  background-color: var(--sec-blue);
  color: #fff;
  border: 3px solid var(--main-blue);
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
}

.cusnum-resume {
  position: relative;
  background-color: #fff;
  color: #d9793b;
  border: 3px solid #fff;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
  border: 2px solid #d9793b;
}
.cusnum-resume::after {
  position: absolute;
  font-weight: bolder;
  right: 3vw;
  content: '✔';
  color: #d9793b;
}
#p2s-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 6vh;
  width: fit-content;
}
#p2s-logo img {
  position: relative;
  width: 300px;
}

/* BUTTONS */
/* Search Box */
#check-cancel-btn {
  position: relative;
  text-align: center;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid var(--button-red);
  width: 30vw;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-cancel-btn:hover {
  background-color: #fff;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-continue-btn {
  position: relative;
  display: none;
  text-align: center;

  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  width: 30vw;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-continue-btn:hover {
  background-color: #fff;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-update-btn {
  position: relative;
  display: none;
  text-align: center;

  margin-left: 5px;
  background-color: var(--main-blue);
  color: #fff;
  border: 2px solid var(--main-blue);
  width: 30vw;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-update-btn:hover {
  background-color: #fff;
  color: var(--main-blue);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
#resume-editing-btn {
  position: relative;
  display: none;
  text-align: center;
  margin-left: 5px;
  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  width: 30vw;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}
#resume-editing-btn:hover {
  background-color: #fff;
  color: var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-background div {
  /* Alignment search box buttons */
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
}

#disabled {
  display: flex;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 200px;
  height: auto;
  width: 30vw;
  color: #8f9691c0;
  border: 2px solid #8f9691c0;
}

#assist-box {
  bottom: 11vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

#assist-btn {
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.596);
  font-weight: lighter;
  color: black;
  border: 0.5px solid black;
  width: 45%;
}

#assist-btn:hover {
  font-weight: bolder;
  color: black;
  background-color: #fff;
  border: 4px solid black;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

/* //////////////////// */
/* WINDOW CONTROLS CSS */
/* ////////////////// */

/* Max and Grab icons */
.max a {
  display: block;
  position: absolute;
  top: -14px;
  right: -45px;
  outline: none;
}

.grab {
  display: block;
  position: absolute;
  top: -14px;
  left: -45px;
  -webkit-app-region: drag;
}

.grab-search {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-app-region: drag;
}

/* ///////////////////// */
/* CUSTOMER CONTACT CSS */
/* /////////////////// */

#customer-contact-container {
  transform: scaleY(0);
  visibility: hidden;
  position: absolute;
  transform-origin: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 6.4vh;
  right: 4.2vw;
  background-color: var(--sec-blue);
  border-top: 3px solid #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 3;
  width: 18vw;
  height: 24vh;
  transition: transform 0.2s linear;
  box-shadow: 3px 11px 14px 0px rgba(50, 50, 50, 0.75);
}

#email,
#phone {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  text-align: center;
  color: #fff;
  height: 9vh;
}
#email span,
#phone span {
  font-size: 15px;
  font-weight: bolder;
  padding: 0.5vh;
}

#phone input,
#email input {
  font-size: 15px;
  text-align: center;
  padding: 0.7vh 0px;
  border-radius: 10px;
  border: 1px solid #fff;
}

/* PROGRESS BAR */
#progress-fade {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.03); */
  backdrop-filter: none;
  z-index: 4;
  transition: backdrop-filter 0.8s linear;
}

/* ////////// */
/* MEDIA CSS */
/* //////// */
@media screen and (max-width: 1280px) {
  .table-container {
    max-height: 79.5vh;
  }
  html {
    font-size: 15px;
  }
  #container {
    max-height: 78.5vh;
    font-size: 15px;
  }
  th,
  td,
  .table-entries,
  .price-entries {
    font-size: 15px;
    height: 10%;
    width: auto;
  }

  #label-customer-number,
  #label-pricelist {
    font-size: 12px;
  }
  #label-cca {
    font-size: 12px;
  }
  .customer-region-item-a {
    padding: 0px 1vh;
  }

  .price-list-item-a,
  .customer-region-item-b {
    justify-content: space-evenly;
    padding: 0px 0px;
    width: 32vh;
    border-radius: 15px;
  }
  .cca-box-item-a {
    justify-content: space-evenly;
    padding: 0px 8px;
    width: 40vh;
    border-radius: 15px;
  }
  #customer-name {
    font-size: 14px;
    justify-content: flex-start;
  }
  #customer-number,
  #pricelist,
  #cca-price {
    font-size: 14px;
  }
  #border {
    width: 94%;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }

  #footer {
    top: 1vh;
  }

  .cca-auto-out,
  .cca-auto-in,
  .cca-man-out,
  .cca-man-in,
  .info-btn,
  .email-now {
    font-size: 11px;
  }

  #back-to-main-btn,
  #create-btn,
  #pause-btn {
    font-size: 15px;
    height: 4.5vh;
  }

  #customer-contact-container {
    top: 6.2vh;
    right: 6vw;
    width: 32.5vh;
    height: 24vh;
  }

  #customer-contact-container > span {
    width: 98%;
    height: 95%;
    padding-bottom: 10px;
  }

  #email span,
  #phone span {
    font-size: 12px;
  }

  #phone input,
  #email input {
    font-size: 12px;
    padding: 1vh 0;
    width: 12vw;
  }
  #db-table .text {
    font-size: 11px;
  }
  #unlock {
    left: 40vw;
    width: 45px;
    height: 26px;
  }
  #lock {
    left: 22vw;
    width: 45px;
    height: 26px;
  }
}
