/* Set main colors */
:root {
  --main-blue: #3e6ba6ff;
  --sec-blue: #8eafdafb;
  --button-red: #cf2115;
  --button-green: #80c432;
  --button-gold: #d9793b;
  --man: #497813;
  --opaque-man: #487613cc;
  --auto: #d9793b;
  --opaque-auto: #d97a3acc;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
button:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

/* MAIN TAG SECTION WITH CHILDREN*/
html {
  background-image: url('../icons/whitcher-logo-small-opacity.png');
  background-repeat: repeat space;
  font-family: sans-serif;
  margin: 0;
  padding: 1vh;
}
input[type='text'][disabled] {
  background-color: #fff;
  color: #000;
}
input[type='number'][disabled] {
  background-color: #fff;
  color: #000;
}

input {
  outline: none;
}

span[role='textbox'] {
  outline: none;
}

#hider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  display: none;
  flex-direction: column;
  width: 100%;
}

/* /////////////// */
/* TABLE FORM CSS */
/* //////////////*/
/* Seperation of rows for bundle sizes */
#R0 td,
#R3 td,
#R6 td,
#R9 td,
#R12 td,
#R15 td,
#R18 td,
#R21 td,
#R24 td,
#R27 td {
  padding-top: 10px;
}
#R2 td,
#R5 td,
#R8 td,
#R11 td,
#R14 td,
#R17 td,
#R20 td,
#R23 td,
#R26 td,
#R29 td {
  padding-bottom: 10px;
}

th {
  left: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  background-color: var(--main-blue);
}

tbody {
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%;
}
tr:nth-child(3n + 1) {
  /* padding-bottom: 20px; */
  border-bottom: 4px solid #ccdaec73;
}

/* COLUMN COLORS */
#treated {
  background-color: var(--opaque-man);
}

#header {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 8vh;
}

/* INPUT BOXES */
.customer-region-item-a {
  position: relative;
  padding: 5.5px 10px;
  display: flex;
  flex-direction: row;
  height: 7vh;

  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  margin-left: 1vh;
}
.customer-region-item-b,
.price-list-item-a {
  width: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  height: 7vh;

  padding: 3px 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  margin-left: 1vh;
}

#label-customer-number,
#label-pricelist,
#label-cca {
  background-color: var(--sec-blue);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.cca-box-item-a {
  padding: 3px 0px;
  width: 54vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--sec-blue);
  border: 3px solid #fff;
  height: 7vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

#pricelist,
#customer-number {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
}

#cca-price {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  animation: none;
}

@keyframes cca-flash {
  from {
    border-color: orange;
    color: #000;
    background-color: #fff;
  }
  to {
    border-color: orange;
    color: #fff;
    background-color: orange;
  }
}

#overflow {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: auto;
  background-color: #fff;
  height: 35px;
  border: 2px solid var(--sec-blue);
  border-radius: 12px;
  padding: 0px 0px;
  margin: 3px 0px;
}

#overflow::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#overflow::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}
#customer-name {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  width: 30vh;
  height: 100%;
  text-transform: uppercase;
}

/* Main body container */
#border {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 96vh;
  width: auto;
  margin-left: 3vh;
  margin-right: 3vh;
  background-color: var(--sec-blue);
  border: 3px solid var(--sec-blue);
  border-radius: 10px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.75);
}

/* Entire table container */
.table-container {
  position: relative;
  text-align: center;
  background-color: #ffff;
  border: 4px solid var(--main-blue);
  border-radius: 10px;
  width: auto;
  height: 79vh;
  overflow: hidden;
}
/* Inner container to seperate border and scrollbar */
#container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 79vh;
}

/* Scrollbar Customization for Table */
#container::-webkit-scrollbar {
  width: 12px;
}

#container::-webkit-scrollbar-track {
  background-color: var(--main-blue);
}

#container::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

/* floating column names */
#columns {
  background-color: var(--main-blue);
  border-bottom: 3px solid var(--main-blue);
}

/* Container for js html population */
#table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
/* text entries for prices in table */
.table-entries {
  text-align: center;
  font-size: 15px;
}
.price-entries-treated {
  text-align: center;
  font-size: 15px;
}
.price-entries-untreated {
  text-align: center;
  font-size: 15px;
}

#footer {
  position: relative;
  top: 0.8vh;
  background-color: var(--sec-blue);
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  padding-top: 2.2vh;
  border: 3px solid #fff;
  border-radius: 20px;
  height: 7vh;
  width: 40%;
}

/* /////////////////// */
/* TABLE FORM BUTTONS */
/* ///////////////// */
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 15px;
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.close-btn {
  top: -11px;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid var(--button-red);
  width: 30%;
  padding: 10px 0px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

.close-btn:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.save-btn {
  top: -11px;
  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  width: 30%;
  padding: 10px 0px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

.save-btn:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.cca-auto-out {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--auto);
  color: #fff;
  border: 2px solid var(--auto);
  font-size: 12px;
  width: 1vh;

  padding: 5px 20px;
  margin-left: 4px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.cca-auto-in {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--auto);
  color: #fff;
  border: 2px solid var(--auto);
  font-size: 12px;
  width: 1vh;

  padding: 5px 20px;
  margin-left: 4px;
  text-align: center;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.cca-man-in {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--man);
  color: #fff;
  border: 2px solid var(--man);
  font-size: 12px;
  width: 1vh;

  padding: 5px 20px;
  margin-left: 4px;
  text-align: center;
  box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.cca-man-out {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--man);
  color: #fff;
  border: 2px solid var(--man);
  font-size: 12px;
  width: 1vh;

  padding: 5px 20px;
  margin-left: 4px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.info-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 12px;
  width: 1vh;

  padding: 5px 25px;
  margin-right: 4px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.email-now {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 12px;
  width: 1vh;

  padding: 5px 25px;
  margin-left: 2px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

@keyframes letterchanger {
  0% {
    content: 'SEND';
  }
  50% {
    color: var(--button-gold);
  }
  100% {
    content: 'EMAIL';
  }
}
.email-now::after {
  content: 'EMAIL';
  animation: letterchanger 4s ease-in-out infinite alternate;
}

@keyframes letterchanger2 {
  0% {
    content: 'SEND';
  }
  50% {
    color: #fff;
  }
  100% {
    content: 'EMAIL';
  }
}
.email-now:hover::after {
  content: 'EMAIL';
  animation: letterchanger2 4s ease-in-out infinite alternate;
}

.reminder {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 200px;

  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 12px;
  width: 1vh;

  padding: 5px 25px;
  margin-left: 6px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.info-btn:hover,
.email-now:hover,
.reminder:hover {
  background-color: #fff;
  text-align: center;
  color: var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.cca-auto-out:hover {
  background-color: #fff;
  text-align: center;
  color: var(--auto);
}
.cca-man-out:hover {
  background-color: #fff;
  text-align: center;
  color: var(--man);
}

/* /////////////////////// */
/* CHECK CUSTOMER BOX CSS */
/* //////////////////// /*/
#db-customer-search {
  position: absolute;
  bottom: 2vh;
}
#db-table {
  position: relative;
  bottom: 1vh;
  font-size: 15px;
  height: 4vh;
  width: 4vh;
}

.db-light {
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.db-connected {
  animation: db-success 1.5s ease-in-out infinite alternate;
}
.db-fail {
  background-color: var(--button-red);
}

@keyframes db-success {
  from {
    opacity: 0.5;
    background-color: lightgrey;
  }
  to {
    opacity: 1;
    background-color: greenyellow;
  }
}

#check-customer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  align-items: center;
  height: 100%;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  background-color: #fff;
  background-image: url('../icons/whitcher-logo-small-opacity.png');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center top;
  z-index: 3;
  transition: visibility 0.3s, opacity 0.3s linear;
}
#check-background {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  padding: 2vh;
  width: 46vh;
  background-color: var(--sec-blue);
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.75);
}
#customer-search-container {
  padding: 5px 6px;
  height: 7vh;
  border: 2px solid #fff;
  border-radius: 50px;
}
#customer-search-container img {
  width: auto;
  height: 34px;
  margin-right: 10px;
  margin-left: 10px;
}

#customer-search {
  text-transform: uppercase;
  padding: 4px;
  margin-right: 15px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  border-radius: 50px;
  border: 4px solid #fff;
}
#customer-search:focus {
  outline: none;
  animation: flash 1s steps(2, end) infinite;
}
@keyframes flash {
  from {
    border: 4px solid #fff;
  }
  to {
    border: 4px solid orange;
  }
}

#customer-number-list {
  background-color: #fff;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  height: 20vh;
  padding: 5px;
}
#customer-list {
  width: 100%;
  height: auto;
  overflow: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#customer-list::-webkit-scrollbar {
  width: 2px;
  background-color: lightgrey;
}
#customer-list::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: grey;
}

/* /////////////////// */
/* POPULATED HTML CSS */
/* ///////////////// */

.cusnum {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
  border-bottom: 3px solid #e9ebeeb0;
}
.cusnum-clicked {
  background-color: #8eafdafb;
  color: #fff;
  border: 3px solid #3e6ba6ff;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
}

#p2s-logo {
  position: absolute;
  top: 6vh;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 100px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.75);
}
#p2s-logo img {
  padding: 20px 40px;
}

/* BUTTONS */
/* Search Box */
#check-cancel-btn {
  position: relative;
  text-align: center;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid var(--button-red);
  width: 45%;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-cancel-btn:hover {
  background-color: #fff;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-continue-btn {
  position: relative;
  display: none;
  text-align: center;

  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  width: 45%;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-continue-btn:hover {
  background-color: #fff;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-update-btn {
  position: relative;
  display: none;
  text-align: center;

  margin-left: 5px;
  background-color: var(--main-blue);
  color: #fff;
  border: 2px solid var(--main-blue);
  width: 45%;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}

#check-update-btn:hover {
  background-color: #fff;
  color: var(--main-blue);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#check-background div {
  /* Alignment search box buttons */
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
}

#disabled {
  display: flex;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 200px;
  height: auto;
  width: 45%;
  color: #8f9691c0;
  border: 2px solid #8f9691c0;
}

#assist-box {
  bottom: 9.5vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

#assist-btn {
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.596);
  font-weight: lighter;
  color: black;
  border: 0.5px solid black;
  width: 45%;
}

#assist-btn:hover {
  font-weight: bolder;
  color: black;
  background-color: #fff;
  border: 4px solid black;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

/* //////////////////// */
/* WINDOW CONTROLS CSS */
/* ////////////////// */

/* Max and Grab icons */
.max a {
  display: block;
  position: absolute;
  top: -14px;
  right: -45px;
  outline: none;
}

.grab {
  display: block;
  position: absolute;
  top: -14px;
  left: -45px;
  -webkit-app-region: drag;
}

.grab-search {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-app-region: drag;
}

/* ///////////////////// */
/* CUSTOMER CONTACT CSS */
/* /////////////////// */

#customer-contact-container {
  transform: scaleY(0);
  visibility: hidden;
  position: absolute;
  transform-origin: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  top: 67px;
  right: 127px;
  background-color: var(--sec-blue);
  border-top: 3px solid #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 3;
  width: 30vh;
  height: 20vh;
  transition: transform 0.2s linear;
  box-shadow: 3px 11px 14px 0px rgba(50, 50, 50, 0.75);
}
#customer-contact-container > span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  width: 98%;
  height: 95%;
  padding-bottom: 10px;
}
#email,
#phone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-self: center;
  text-align: center;
  color: #fff;
}
#email span,
#phone span {
  width: 95%;
  height: auto;
  font-size: 15px;
  font-weight: bolder;
  padding: 0.5vh;
}

#phone input,
#email input {
  font-size: 15px;
  text-align: center;
  padding: 9px 0px;
  border-radius: 10px;
  border: 1px solid #fff;
}

/* ////////// */
/* MEDIA CSS */
/* //////// */
@media screen and (max-width: 1560px) {
  .table-container {
    max-height: 78vh;
  }
  html {
    font-size: 15px;
  }
  #container {
    max-height: 78vh;
    font-size: 15px;
  }
  th,
  td,
  .table-entries,
  .price-entries {
    font-size: 15px;
    height: 10%;
    width: auto;
  }

  #label-customer-number,
  #label-pricelist {
    font-size: 12px;
    margin: 1px;
  }
  #label-cca {
    font-size: 12px;
    margin: 1px;
  }
  .customer-region-item-a {
    padding: 0px 5px;
    height: 7vh;
    width: auto;
    border-radius: 15px;
  }

  .price-list-item-a,
  .customer-region-item-b {
    justify-content: space-evenly;
    padding: 0px 0px;
    height: 7vh;
    width: 32vh;
    border-radius: 15px;
  }
  .cca-box-item-a {
    justify-content: space-evenly;
    padding: 0px 8px;
    height: 7vh;
    width: 40vh;
    border-radius: 15px;
  }
  #customer-name {
    font-size: 14px;
    width: 25vh;
    max-height: 40px;
    height: auto;
  }
  #customer-number,
  #pricelist,
  #cca-price {
    font-size: 15px;
    height: 30px;
    width: 119px;
    padding: 0px 0px;
  }
  #border {
    width: 94%;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }

  #footer {
    top: 1vh;
    height: 7.5vh;
  }

  .cca-auto-out,
  .cca-auto-in,
  .cca-man-out,
  .cca-man-in,
  .info-btn,
  .email-now,
  .reminder {
    font-size: 11px;
    height: 50%;
    align-items: inherit;
  }

  #close-btn,
  #save-btn {
    font-size: 15px;
    top: -10px;
    width: 30%;
    height: 4vh;
  }

  #customer-contact-container {
    top: 50px;
    right: 125px;
    width: 24.5vh;
    height: 20vh;
  }
  #customer-contact-container > span {
    width: 98%;
    height: 95%;
    padding-bottom: 10px;
  }
  #email span,
  #phone span {
    font-size: 15px;
    margin: 5px;
  }

  #phone input,
  #email input {
    font-size: 15px;
    padding: 8px 0;
    width: 20vh;
  }
}
#progress-fade {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: none;
  z-index: 4;
  transition: backdrop-filter 0.8s linear;
}
