/* Set main colors */
:root {
  --main: #000;
  --main-hover: rgb(46, 45, 45);
  --main-light: rgba(46, 45, 45, 0.08);
  --sec-blue: #05899c;
  --sec-blue-hover: #036b7a;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #a52626;

  --button-green: #00b894;
  --button-green-hover: #038369;
  --button-gold: #fe7c04;
  --auto: rgba(254, 125, 4, 0.08);
  --man: rgba(0, 184, 147, 0.08);

  --button-gold-hover: #bd5d03;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --hover-gold: rgb(254, 124, 4, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
  --dark-green: rgb(3, 146, 3);
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
button:focus {
  outline: none;
}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

/* MAIN TAG SECTION WITH CHILDREN*/
html {
  position: relative;
  font-family: sans-serif;
  margin: 0;
  padding: 1vh;
  overflow: hidden;
  transform: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: transform 0.5s 0.3s;
}

body {
  margin: 0;
  margin-top: 1vh;
  padding: 0;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.DR,
.BR {
  position: relative;
  text-align: center;
  font-size: 0.8vw;
  width: 7vw;
}

.standard {
  position: relative;
  background-color: #fff;
}

.exm {
  background-color: var(--main-light);
}

input[type='text'][disabled] {
  background-color: #fff;
  color: var(--main);
  border: 1px solid lightgrey;
}
input[type='text'] {
  background-color: #fff;
  color: var(--main);
  border: 1px solid var(--main);
}

input[type='number'][disabled] {
  background-color: #fff;
  color: var(--main);
  border: 1px solid lightgrey;
}
input[type='number'] {
  background-color: #fff;
  color: var(--main);
  border: 1px solid var(--main);
}

input {
  outline: none;
}

span[role='textbox'] {
  outline: none;
}

#hider {
  position: relative;
  justify-content: center;
  justify-items: center;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* /////////////// */
/* TABLE FORM CSS */
/* //////////////*/
/* Seperation of rows for bundle sizes */
#R0 td,
#R3 td,
#R6 td,
#R9 td,
#R12 td,
#R15 td,
#R18 td,
#R21 td,
#R24 td,
#R27 td {
  padding-top: 10px;
}
#R2 td,
#R5 td,
#R8 td,
#R11 td,
#R14 td,
#R17 td,
#R20 td,
#R23 td,
#R26 td,
#R29 td {
  padding-bottom: 10px;
}

/* POPUP MENU FOR PRICES */
/* UNTREATED COLUMNS */
#CU0,
#CU3,
#CU6,
#CU9,
#CU12,
#CU15,
#CU18,
#CU21,
#CU24,
#CU27 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#CU0::before,
#CU3::before,
#CU6::before,
#CU9::before,
#CU12::before,
#CU15::before,
#CU18::before,
#CU21::before,
#CU24::before,
#CU27::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}

#CU0::after,
#CU3::after,
#CU6::after,
#CU9::after,
#CU12::after,
#CU15::after,
#CU18::after,
#CU21::after,
#CU24::after,
#CU27::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CU0:hover::before,
#CU3:hover::before,
#CU6:hover::before,
#CU9:hover::before,
#CU12:hover::before,
#CU15:hover::before,
#CU18:hover::before,
#CU21:hover::before,
#CU24:hover::before,
#CU27:hover::before {
  transform: scaleX(1);
}

#CU0:hover::after,
#CU3:hover::after,
#CU6:hover::after,
#CU9:hover::after,
#CU12:hover::after,
#CU15:hover::after,
#CU18:hover::after,
#CU21:hover::after,
#CU24:hover::after,
#CU27:hover::after {
  transform: scaleX(1);
}

#CU1,
#CU4,
#CU7,
#CU10,
#CU13,
#CU16,
#CU19,
#CU22,
#CU25,
#CU28 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
/* MIDDLE */
#CU1::before,
#CU4::before,
#CU7::before,
#CU10::before,
#CU13::before,
#CU16::before,
#CU19::before,
#CU22::before,
#CU25::before,
#CU28::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}

#CU1::after,
#CU4::after,
#CU7::after,
#CU10::after,
#CU13::after,
#CU16::after,
#CU19::after,
#CU22::after,
#CU25::after,
#CU28::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CU1:hover::before,
#CU4:hover::before,
#CU7:hover::before,
#CU10:hover::before,
#CU13:hover::before,
#CU16:hover::before,
#CU19:hover::before,
#CU22:hover::before,
#CU25:hover::before,
#CU28:hover::before {
  transform: scaleX(1);
}
#CU1:hover::after,
#CU4:hover::after,
#CU7:hover::after,
#CU10:hover::after,
#CU13:hover::after,
#CU16:hover::after,
#CU19:hover::after,
#CU22:hover::after,
#CU25:hover::after,
#CU28:hover::after {
  transform: scaleX(1);
}

/* BOTTOM */
#CU2,
#CU5,
#CU8,
#CU11,
#CU14,
#CU17,
#CU20,
#CU23,
#CU26,
#CU29 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#CU2::before,
#CU5::before,
#CU8::before,
#CU11::before,
#CU14::before,
#CU17::before,
#CU20::before,
#CU23::before,
#CU26::before,
#CU29::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}

#CU2::after,
#CU5::after,
#CU8::after,
#CU11::after,
#CU14::after,
#CU17::after,
#CU20::after,
#CU23::after,
#CU26::after,
#CU29::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CU2:hover::before,
#CU5:hover::before,
#CU8:hover::before,
#CU11:hover::before,
#CU14:hover::before,
#CU17:hover::before,
#CU20:hover::before,
#CU23:hover::before,
#CU26:hover::before,
#CU29:hover::before {
  transform: scaleX(1);
}

#CU2:hover::after,
#CU5:hover::after,
#CU8:hover::after,
#CU11:hover::after,
#CU14:hover::after,
#CU17:hover::after,
#CU20:hover::after,
#CU23:hover::after,
#CU26:hover::after,
#CU29:hover::after {
  transform: scaleX(1);
}

/* TREATED COLUMNS */
/* TOP */
#CT0,
#CT3,
#CT6,
#CT9,
#CT12,
#CT15,
#CT18,
#CT21,
#CT24,
#CT27 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#CT0::before,
#CT3::before,
#CT6::before,
#CT9::before,
#CT12::before,
#CT15::before,
#CT18::before,
#CT21::before,
#CT24::before,
#CT27::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}

#CT0::after,
#CT3::after,
#CT6::after,
#CT9::after,
#CT12::after,
#CT15::after,
#CT18::after,
#CT21::after,
#CT24::after,
#CT27::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CT0:hover::before,
#CT3:hover::before,
#CT6:hover::before,
#CT9:hover::before,
#CT12:hover::before,
#CT15:hover::before,
#CT18:hover::before,
#CT21:hover::before,
#CT24:hover::before,
#CT27:hover::before {
  transform: scaleX(1);
}

#CT0:hover::after,
#CT3:hover::after,
#CT6:hover::after,
#CT9:hover::after,
#CT12:hover::after,
#CT15:hover::after,
#CT18:hover::after,
#CT21:hover::after,
#CT24:hover::after,
#CT27:hover::after {
  transform: scaleX(1);
}

/* MIDDLE */

#CT1,
#CT4,
#CT7,
#CT10,
#CT13,
#CT16,
#CT19,
#CT22,
#CT25,
#CT28 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
/* MIDDLE */
#CT1::before,
#CT4::before,
#CT7::before,
#CT10::before,
#CT13::before,
#CT16::before,
#CT19::before,
#CT22::before,
#CT25::before,
#CT28::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}
#CT1::after,
#CT4::after,
#CT7::after,
#CT10::after,
#CT13::after,
#CT16::after,
#CT19::after,
#CT22::after,
#CT25::after,
#CT28::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CT1:hover::before,
#CT4:hover::before,
#CT7:hover::before,
#CT10:hover::before,
#CT13:hover::before,
#CT16:hover::before,
#CT19:hover::before,
#CT22:hover::before,
#CT25:hover::before,
#CT28:hover::before {
  transform: scaleX(1);
}

#CT1:hover::after,
#CT4:hover::after,
#CT7:hover::after,
#CT10:hover::after,
#CT13:hover::after,
#CT16:hover::after,
#CT19:hover::after,
#CT22:hover::after,
#CT25:hover::after,
#CT28:hover::after {
  transform: scaleX(1);
}

/* BOTTOM */
#CT2,
#CT5,
#CT8,
#CT11,
#CT14,
#CT17,
#CT20,
#CT23,
#CT26,
#CT29 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

/* BOTTOM */
#CT2::before,
#CT5::before,
#CT8::before,
#CT11::before,
#CT14::before,
#CT17::before,
#CT20::before,
#CT23::before,
#CT26::before,
#CT29::before {
  position: absolute;
  content: attr(data-label);
  width: 7vw;
  height: fit-content;
  max-height: 6em;
  overflow: auto;
  background-color: #fff;
  font-size: 0.8vw;
  font-weight: bolder;
  right: 80%;
  top: 0;
  padding: 0.5vh 0.5vw;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 2;
}

#CT2::after,
#CT5::after,
#CT8::after,
#CT11::after,
#CT14::after,
#CT17::after,
#CT20::after,
#CT23::after,
#CT26::after,
#CT29::after {
  visibility: var(--vis, hidden);
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 35px solid #000;
  right: 72%;
  top: 6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: 1;
}

#CT2:hover::before,
#CT5:hover::before,
#CT8:hover::before,
#CT11:hover::before,
#CT14:hover::before,
#CT17:hover::before,
#CT20:hover::before,
#CT23:hover::before,
#CT26:hover::before,
#CT29:hover::before {
  transform: scaleX(1);
}

#CT2:hover::after,
#CT5:hover::after,
#CT8:hover::after,
#CT11:hover::after,
#CT14:hover::after,
#CT17:hover::after,
#CT20:hover::after,
#CT23:hover::after,
#CT26:hover::after,
#CT29:hover::after {
  transform: scaleX(1);
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 0.8vw;
  padding: 1vh 0;
  background-color: var(--main);
}
#row-columns {
  position: sticky;
  margin: 0;
  padding: 0;
}

tbody {
  position: relative;
  padding: 0px;
  margin: 0;
  width: auto;
  height: 100%;
}
tr {
  position: relative;
}

/* COLUMN COLORS */
#treated {
  background-color: var(--man);
}

#header {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 5vh;
}

#customer-displaybox-container {
  position: absolute;
  top: 6vh;
  visibility: hidden;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
  width: 17vw;
  background-color: #fff;
  box-shadow: 3px 11px 14px 0px rgba(50, 50, 50, 0.75);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 80vh;
}
#overflow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#overflow-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}
#overflow-container::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #c1c1c1;
}

#display-box-label {
  position: sticky;
  top: 0;
  font-size: 15px;
  padding: 8px 0;
  font-weight: bold;
  color: #fff;
  background-color: var(--sec-blue);
  border-bottom: 1px solid var(--main);
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#customer-displaybox {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.customer-name-list {
  width: 100%;
  padding: 8px 5px;
  width: 100%;
  border: 1px solid #fff;
}
.customer-name-list:hover {
  background-color: var(--hover-blue);
  color: #fff;
}
.customer-name-list:active {
  border: 1px solid var(--main);
  background-color: var(--sec-blue);
  color: #fff;
}

/* INPUT BOXES */
.customer-region-item-a {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.customer-region-item-b,
.price-list-item-a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 25vw;
  max-width: 25vw;
  margin-left: 0.2vw;
  border-left: 1px solid lightgray;
}

.customer-region-item-b form {
  width: 100%;
}

.header-form {
  height: 100%;
  border-left: 1px solid lightgray;
}

#label-customer-number,
#label-pricelist {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  text-align: center;
  padding: 0 10px;
  height: auto;
}

#label-cca {
  position: relative;
  padding-right: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  text-align: center;
  padding-left: 10px;
  height: auto;
}

.cca-box-item-a {
  position: relative;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100%;
  margin-left: 0.2vw;
  border-left: 1px solid lightgray;
}

#pricelist {
  font-size: 0.8vw;
  position: relative;
  right: 0;
  border: none;
  text-align: center;
  text-transform: uppercase;
  height: 4vh;
  width: 17vw;
  max-width: 17vw;
}

#customer-number {
  font-size: 0.8vw;
  position: absolute;
  right: 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  height: 4vh;
  width: 15vw;
  max-width: 17vw;
}

#customer-number:focus {
  outline: none;
  animation: flash 1s steps(2, end) infinite;
}

#cca-price {
  font-size: 0.8vw;
  position: relative;
  border: none;
  text-align: center;
  text-transform: uppercase;
  height: 4vh;
  width: 9vw;
  animation: none;
}

@keyframes cca-flash {
  from {
    border-color: orange;
    color: #000;
    background-color: #fff;
  }
  to {
    border-color: orange;
    color: #fff;
    background-color: orange;
  }
}

#overflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  background-color: #fff;
  height: 95%;
  width: 99%;
  max-width: 99%;
  padding: 0px 1px;
  overflow-y: auto;
}

#overflow::-webkit-scrollbar {
  width: 0.2vw;
}
#overflow::-webkit-scrollbar-thumb {
  height: 1vh;
  background-color: lightgray;
}

.customer-name-standard {
  position: relative;
  background-color: #fff;
  font-size: 0.8vw;
  text-align: center;
  border-radius: 5px;
  padding: 4px 0px;
  text-transform: uppercase;
  width: 26vw;
  height: 98%;
  max-width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.customer-name-standard:focus {
  outline: none;
  animation: flash 1s steps(2, end) infinite;
}

.customer-name-standard[contenteditable]:empty::before {
  content: 'Enter the customer';
  color: lightgray;
  background-color: #fff;
  left: 0vw;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 0.8vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.customer-name-placeholder {
  position: relative;
  background-color: lightgray;
  color: #fff;
  font-size: 0.8vw;
  text-align: center;
  padding: 4px 0px;
  text-transform: uppercase;
  width: 26vw;
  height: 98%;
  max-width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.customer-name-placeholder::before {
  content: 'Enter customer number first';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Main body container */
#border {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 96vh;
  width: auto;
  margin: 0 0.3vw;
  background-color: #fff;
}

/* Entire table container */
.table-container {
  position: relative;
  text-align: center;
  background-color: #ffff;
  width: 99vw;
  height: 87.5vh;
  overflow: hidden;
}
/* Inner container to seperate border and scrollbar */
#container {
  position: relative;
  overflow: auto;
  max-height: 87vh;
  padding-bottom: 8vh;
}

/* Scrollbar Customization for Table */
#container::-webkit-scrollbar {
  width: 3px;
}

#container::-webkit-scrollbar-track {
  background-color: #fff;
}

#container::-webkit-scrollbar-thumb {
  background-color: var(--main);
}

/* floating column names */
#columns {
  background-color: var(--main);
  border-bottom: 3px solid var(--main);
}

/* Container for js html population */
#table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8vw;
}
/* text entries for prices in table */
.table-entries {
  text-align: center;
  font-size: 0.8vw;
  width: 15vw;
}
.price-entries-treated {
  text-align: center;
  font-size: 0.8vw;
  width: 45%;
}
.price-entries-untreated {
  text-align: center;
  font-size: 0.8vw;
  width: 45%;
}

#footer {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#len {
  background-color: var(--auto);
}

#transport-value {
  position: absolute;
  z-index: 3;
  transform: scale(0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: none;
  border: 1px solid #fff;
  height: 100%;
}
#transport-value[open] {
  animation: popup-notify 0.1s linear 1 forwards;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

#t-value {
  position: relative;
  width: fit-content;
  font-size: 0.8vw;
  font-weight: bold;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 2vw;
  padding: 0 1vw;
}
#transport-value-image {
  position: relative;
  top: 2px;
  width: 2vw;
}
/* ///////////////// */
/* PERCENTAGE ADJUST */
/* ///////////////// */

#percentage-adjust {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform-origin: bottom left;
  transform: scale(0);
  width: 15vw;
  height: 75%;
  background-color: #fff;
  border-radius: 3px;
  transition: transform 0.1s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
#percentage-container {
  position: relative;
  bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #fff;
}

.percentage-label {
  position: relative;
  right: 4.8vw;
  top: 2vh;
  font-size: 0.8vw;
  width: 25%;
}
.range {
  width: 90%;
}
.value {
  position: relative;
  font-size: 0.8vw;
  left: 0.5vw;
}
#all-container {
  display: flex;
  position: absolute;
  bottom: 8vh;
  width: 100%;
  height: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  border-top: 1px solid;
  padding-bottom: 1vh;
}

#all-label {
  right: 65px;
}

#all {
  left: 1.3vw;
}

/* ////////////////////////// */
/* DATE SELECTOR FOR SCHEDULE */
/* ////////////////////////// */
#date-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  width: 22vw;
  height: 12vh;
  transition: opacity 0.3s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  border-radius: 3px;
}

#date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.8vw;
  padding: 0 1vw;
}

#date-text-span {
  padding: 0.3vw;
  font-size: 1.5vw;
}

#date-select-text {
  position: absolute;
  top: 0.1vh;
  text-align: center;
  padding: 0.5vh;
  width: 100%;
  font-size: 0.8vw;
  background-color: var(--sec-blue);
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#date-button-container {
  display: flex;
  position: absolute;
  bottom: 0.2vh;
  width: 100%;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  height: 3.3vh;
}

#date-select-standard-btn {
  display: none;
  background: var(--button-green);
  width: 50%;
  border: 1px solid #fff;
  font-size: 0.8vw;
}

#date-select-standard-btn:hover {
  background-color: var(--button-green-hover);
}
#date-select-standard-btn:active {
  transform: scale(0.95);
}

#date-select-paused-btn {
  display: none;
  background: var(--button-green);
  width: 50%;
  border: 1px solid #fff;
  font-size: 0.8vw;
}

#date-select-paused-btn:hover {
  background-color: var(--button-green-hover);
}
#date-select-paused-btn:active {
  transform: scale(0.95);
}
#date-select-paused-btn::after {
  content: 'Paused';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#date-select-edit-btn {
  display: none;
  background: var(--button-green);
  width: 50%;
  border: 1px solid #fff;
  font-size: 0.8vw;
}

#date-select-edit-btn:hover {
  background-color: var(--button-green-hover);
}
#date-select-edit-btn:active {
  transform: scale(0.95);
}
#date-select-edit-btn::after {
  content: 'Edit';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#date-cancel-standard-btn {
  display: none;
  background: var(--button-red);
  width: 50%;
  border: 1px solid #fff;
  font-size: 0.8vw;
}

#date-cancel-standard-btn:hover {
  background-color: var(--button-red-hover);
}

#date-cancel-standard-btn:active {
  transform: scale(0.95);
}

select {
  font-size: 0.8vw;
  border: 1px solid #fff;
  outline: none;
  text-align-last: center;
}
/* /////////////////// */
/* TABLE FORM BUTTONS */
/* ///////////////// */
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  background-color: var(--button-gold);
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.8vw;
  text-align: center;
  height: 100%;
}

.schedule-button {
  position: absolute;
  background-color: var(--sec-blue);
  right: 13vw;
  color: #fff;
  width: 12vw;
  height: 100%;
}

.schedule-button:hover {
  background-color: var(--sec-blue-hover);
  text-align: center;
}
.schedule-button:active {
  transform: scale(0.95);
}

#schedule-button-pause::after {
  content: 'Paused';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#schedule-button-edit::after {
  content: 'Edit';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#schedule-button-new {
  position: absolute;
  background-color: lightgray;
  right: 13vw;
  color: #fff;
  width: 12vw;
  height: 100%;
}

#schedule-button-new::after {
  content: 'New';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#schedule-button-new:hover {
  text-align: center;
}
#schedule-button-new:active {
  transform: none;
}

#create-btn-pause::after {
  content: 'Paused';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#create-btn-edit::after {
  content: 'Edit';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#create-btn-new::after {
  content: 'New';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

#pause-btn-new::after {
  content: 'New';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 0.5vw;
}

.back-to-main-btn {
  position: absolute;
  left: 0;
  background-color: var(--button-red);
  color: #fff;
  width: 12vw;
}

.back-to-main-btn:hover {
  background-color: var(--button-red-hover);
  text-align: center;
}
.back-to-main-btn:active {
  transform: scale(0.95);
}

.create-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
  text-align: center;
  padding: 7px 0;
  background-color: var(--button-green);
  border: 1px solid #fff;
  color: #fff;
  width: 12vw;
  height: 100%;
}

.create-btn:hover {
  background-color: var(--button-green-hover);
  text-align: center;
}

.create-btn:active {
  transform: scale(0.95);
}

.create-btn-pause {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
  text-align: center;
  padding: 7px 0;
  background-color: #fff;
  color: #fff;
  border: 2px solid #fff;
  width: 12vw;
  height: 100%;
}

.create-btn-pause:active {
  transform: scale(0.95);
}

.pause-btn {
  position: absolute;
  left: 13vw;
  background-color: var(--button-gold);
  color: #fff;
  width: 12vw;
}

.pause-btn:hover {
  background-color: var(--button-gold-hover);
  text-align: center;
}

.pause-btn:active {
  transform: scale(0.95);
}

#applyBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--button-green);
  color: #fff;
  border: 1px solid #fff;
  width: 50%;
  height: 3.5vh;
}

#applyBtn:hover {
  background-color: var(--button-green-hover);
  text-align: center;
}

#applyBtn:active {
  transform: scale(0.95);
}

#apply-accept-logo {
  position: absolute;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#apply-cancel-logo {
  position: absolute;
  padding: 5px;
  width: 100%;
  height: 100%;
}

#cancelBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--button-red);
  color: #fff;
  border: 1px solid #fff;
  width: 50%;
  height: 3.5vh;
}

#cancelBtn:hover {
  background-color: var(--button-red-hover);
  text-align: center;
}

#cancelBtn:active {
  transform: scale(0.95);
}

#calculate {
  position: absolute;
  font-size: 0.8vw;
  left: 35vw;
  background-color: var(--main);
  color: #fff;
  border: 1px solid #fff;
  width: 12vw;
  height: 100%;
}

#calculate:hover {
  background-color: var(--main-hover);
  text-align: center;
}

#calculate:active {
  transform: scale(0.95);
}

.exmill {
  position: absolute;
  right: 35vw;
  font-size: 0.8vw;
  background-color: var(--main);
  color: #fff;
  border: 1px solid #fff;
  width: 12vw;
  height: 100%;
}

.exmill-disabled {
  position: absolute;
  font-size: 0.8vw;
  right: 35vw;
  background-color: grey;
  color: #fff;
  width: 12vw;
  height: 100%;
}

.exmill:hover {
  background-color: var(--main-hover);
  text-align: center;
}

.exmill:active {
  transform: scale(0.95);
}

#exmill-transport-container {
  position: absolute;
  z-index: 3;
  display: flex;
  transform-origin: left;
  transform: scaleX(0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 87vh;
  width: 14vw;
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  padding: 0 10px;
  transition: transform 0.3s;
}

#exmill-label {
  position: absolute;
  top: 1.2vh;
  font-size: 0.8vw;
  font-weight: bold;
}

#exmill-transport-value {
  position: absolute;
  bottom: 30vh;
  padding: 2px 0;
  text-align: center;
  font-size: 0.8vw;
  width: 85%;
}

.exmill-enabled-apply {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 0.8vw;
  bottom: 24vh;
  background-color: var(--button-green);
  height: 3.5vh;
  color: #fff;
  border: 1px solid #fff;
  width: 85%;
}

.exmill-btn-disabled {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 0.8vw;
  bottom: 24vh;
  background-color: lightgrey;
  color: #fff;
  border: 1px solid #fff;
  height: 3.5vh;
  width: 85%;
}

.exmill-enabled-apply:hover {
  background-color: var(--button-green-hover);
}

.exmill-enabled-apply:active {
  transform: scale(0.95);
}

#transport-image {
  position: absolute;
  padding-bottom: 3vh;
  width: 80%;
}

#round-all-container {
  position: absolute;
  bottom: 2.5vh;
  height: 7vh;
  width: 100%;
}

#round-all-select {
  position: absolute;
  opacity: 0;
}

#round-all-text {
  position: relative;
  top: 1vh;
  font-weight: bold;
  font-size: 0.8vw;
  left: 2vw;
}

#round-all-tick {
  position: absolute;
  top: 1.3vw;
  left: 12vw;
  width: 1vw;
  height: 1vw;
  background-color: #fff;
  padding: 2px;
  border: 2px solid var(--main);
}
#round-all-tick-img {
  position: absolute;
  transform: scale(0);
  width: 1.2vw;
  height: auto;
  bottom: 0.1vh;
  right: -0.5vw;
  left: 0;
  animation: none;
}

.cca-auto-out {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  color: var(--button-gold);
  border: 2px solid var(--button-gold);
  font-size: 0.8vw;
  width: 3vw;
  height: 60%;
  padding: 5px 20px;
  margin-left: 0.5vw;
  text-align: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.cca-auto-in {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  font-size: 0.8vw;
  width: 3vw;
  height: 60%;
  padding: 5px 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.cca-man-in {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;

  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  font-size: 0.8vw;
  width: 3vw;
  height: 60%;

  padding: 5px 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.cca-man-out {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;

  background-color: #fff;
  color: var(--button-green);
  border: 2px solid var(--button-green);
  font-size: 0.8vw;
  width: 3vw;
  height: 60%;

  padding: 5px 20px;
  margin-left: 0.5vw;
  text-align: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.lock-in {
  position: absolute;
  left: 28vw;
  z-index: 2;
  top: 5vh;
  background-color: var(--button-gold);
  color: #fff;
  border: 2px solid var(--button-gold);
  width: 2vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.lock-out {
  left: 28vw;
  z-index: 3;
  top: 5vh;
  background-color: #fff;
  color: var(--button-gold);
  border: 2px solid var(--button-gold);
  position: absolute;
  width: 2vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.unlock-out {
  left: 28vw;
  top: 10vh;
  z-index: 2;
  background-color: #fff;
  border: 2px solid var(--button-green);
  color: var(--button-green);
  position: absolute;
  width: 2vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.unlock-in {
  left: 28vw;
  top: 10vh;
  z-index: 2;
  background-color: var(--button-green-hover);
  border: 2px solid var(--button-green-hover);
  color: #fff;
  position: absolute;
  width: 2vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.8vw;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

#unlock-svg {
  fill: var(--button-green);
  width: 18px;
  height: 18px;
}

#lock-svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

/* /////////////////////// */
/* CHECK CUSTOMER BOX CSS */
/* //////////////////// /*/

#check-customer {
  position: absolute;
  visibility: visible;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 96vh;
  width: 96vw;
  border-radius: 3px;
  background-color: #fff;
  z-index: 3;
  transition: visibility 0.3s, opacity 0.3s 0.3s;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}
#check-background {
  display: flex;
  position: relative;
  width: 96vw;
  bottom: 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#customer-search-container {
  position: relative;
  top: 1vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 11vh;
}

#search-disabled {
  position: absolute;
  z-index: 4;
  top: 1.5vh;
  display: none;
  text-align: center;
  background-color: lightgray;
  font-size: 6vw;
  border: 1px solid #fff;
  color: #fff;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 8.3vh;
  width: 100%;
}
#button-container {
  position: absolute;
  bottom: 12vh;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  padding: 0 1vw;
  width: 96vw;
  height: 10vh;
}

#copy-container {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 25px;
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: #fff;
  height: 30px;
  font-size: 12px;
  transition: opacity 0.3s;
}
#copy-select {
  position: absolute;
  opacity: 0;
}

#label-text {
  position: absolute;
  right: 0;
  bottom: -7px;
  margin-right: 5px;
}

#tick {
  position: absolute;
  top: 8px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid var(--sec-blue);
}
#tick-img {
  position: absolute;
  transform: scale(0);
  width: 22px;
  height: auto;
  bottom: 1px;
  left: 0;
  animation: none;
}

@keyframes check {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#customer-search {
  text-transform: uppercase;
  outline: none;
  border: 1px solid var(--button-disabled);
  font-size: 6vw;
  width: 94vw;
  text-align: center;
  color: var(--text-color);
  height: 9vh;
  transition: box-shadow 0.5s;
}

#customer-search:focus {
  outline: none;
  z-index: 3;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

@keyframes flash {
  from {
    border: 2px solid #fff;
  }
  to {
    border: 2px solid orange;
  }
}

#customer-number-list {
  position: relative;
  width: 94vw;
  background-color: #fff;
  border: 1px solid var(--button-disabled);
}

#customer-list {
  width: 100%;
  height: 51vh;
  overflow: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  justify-items: center;
}
#customer-list::-webkit-scrollbar {
  width: 2.5vw;
  background-color: lightgrey;
}
#customer-list::-webkit-scrollbar-thumb {
  height: 4vh;
  background-color: grey;
}

/* /////////////////// */
/* POPULATED HTML CSS */
/* ///////////////// */

.cusnum {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 2vh 0;
  height: 10vh;
  font-size: 6vw;
  /* font-weight: bold; */
  margin: 0;
  margin-top: 1vh;
}

.cusnum:hover {
  color: #fff;
  background-color: var(--hover-blue);
}

.no-paused {
  text-align: center;
  font-size: 6vw;
  background-color: var(--button-gold);
  border: 1px solid #fff;
  color: #fff;
  margin: 0;
  margin-top: 1vw;
  padding: 2vw 0;
}

.cusnum-clicked {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--sec-blue);
  color: #fff;
  border: 1px solid var(--sec-blue);
  text-align: center;
  padding: 1vh 0;
  height: 10vh;
  font-size: 6vw;
  /* font-weight: bold; */
  margin: 0;
  margin-top: 1vh;
}

.context-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  color: var(--button-gold);
  border: 1px solid #fff;
  align-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  height: 10vh;
  padding: 1vh 0;
  margin: 0;
  margin-top: 1vw;
}

.context-container-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: var(--button-gold);
  color: #fff;
  border: 1px solid #fff;
  padding: 1vh 0;
  font-size: 6vw;
  font-weight: bold;
  height: 10vh;
  margin: 0;
  margin-top: 1vw;
}

.context-container:hover {
  background-color: var(--hover-gold);
  color: #fff;
}

.context-cancel {
  position: relative;
  width: 22vw;
  height: 7vh;
  font-size: 4vw;
  border: 1px solid #fff;
  background-color: var(--button-gold);
  border-radius: 2vw;
  color: #fff;
  visibility: hidden;
}

.context-cancel:hover {
  background-color: #fff;
  border: 1px solid var(--button-gold);
  color: var(--button-gold);
}

.context-cancel:active {
  transform: scale(0.95);
}

.context-delete {
  position: relative;
  width: 22vw;
  height: 7vh;
  font-size: 4vw;
  background-color: var(--button-gold);
  border: 1px solid #fff;
  border-radius: 2vw;
  color: #fff;
  visibility: hidden;
}

.context-delete:hover {
  background-color: #fff;
  border: 1px solid var(--button-gold);
  color: var(--button-gold);
}

.context-delete:active {
  transform: scale(0.95);
}

#p2s-logo {
  position: absolute;
  top: 1vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
  width: 82vw;
  height: 7vh;
}
#p2s-logo img {
  position: absolute;
  left: 50%;
  height: 8vh;
}

/* BUTTONS */
/* Search Box */
#check-cancel-btn {
  position: relative;
  text-align: center;
  background-color: var(--button-red);
  color: #fff;
  border: 1px solid #fff;
  left: 0;
  width: 50%;
  font-size: 6vw;
}

#check-cancel-btn:active {
  transform: scale(0.95);
}

#check-cancel-btn:hover {
  background-color: var(--button-red-hover);
}

#check-continue-btn {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--button-green);
  color: #fff;
  border: 1px solid #fff;
  right: 0;
  font-size: 6vw;
  width: 50%;
}

#check-continue-btn:hover {
  background-color: var(--button-green-hover);
}

#check-continue-btn:active {
  transform: scale(0.95);
}

#check-update-btn {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--main);
  font-size: 6vw;
  color: #fff;
  border: 1px solid #fff;
  right: 0;
  width: 50%;
}

#check-update-btn:hover {
  background-color: var(--main-hover);
}

#check-update-btn:active {
  transform: scale(0.95);
}

#resume-editing-btn {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--button-gold);
  color: #fff;
  font-size: 6vw;
  border: 1px solid #fff;
  right: 0;
  width: 50%;
}
#resume-editing-btn:hover {
  background-color: var(--button-gold-hover);
}

#resume-editing-btn:active {
  transform: scale(0.95);
}

#copy-btn {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--button-gold);
  font-size: 6vw;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  width: 50%;
}
#copy-btn:hover {
  background-color: var(--button-gold-hover);
}

#copy-btn:active {
  transform: scale(0.95);
}

#disabled {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  right: 0;
  width: 50%;
  color: #fff;
  background-color: lightgrey;
  border: 1px solid #fff;
}

.loading-container {
  display: flex;
  top: 0.4vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  font-size: 6vw;
  font-weight: bolder;
  width: 93vw;
  background-color: #fff;
  height: 51vh;
}

.spinner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

#logo {
  position: relative;
  top: 2px;
  width: 35px;
  height: auto;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 5px solid var(--sec-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 5px solid var(--button-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 5px solid var(--button-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#assist-box {
  bottom: 1vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 0 1vw;
  width: 96vw;
  height: 10vh;
}

#assist-btn {
  position: relative;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: var(--sec-blue);
  border: 1px solid #fff;
  font-size: 6vw;
  color: #fff;
  width: 50%;
  height: 100%;
}

#assist-btn:hover {
  background-color: var(--sec-blue-hover);
}
#assist-btn:active {
  transform: scale(0.95);
}

#view-pause {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  background-color: var(--button-gold);
  border: 1px solid #fff;
  width: 50%;
  height: 100%;
}
#view-pause:hover {
  background-color: var(--button-gold-hover);
}

#view-pause:active {
  transform: scale(0.95);
}
#view-reset {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 6vw;
  background-color: var(--button-green);
  border: 1px solid #fff;
  width: 50%;
  height: 100%;
}
#view-reset:hover {
  background-color: var(--button-green-hover);
}

#view-reset:active {
  transform: scale(0.95);
}

/* //////////////////// */
/* WINDOW CONTROLS CSS */
/* ////////////////// */

/* Max and Grab icons */
.max {
  position: absolute;
  transform: scale(1);
  width: 1vw;
  height: auto;
  right: -0.5vw;
  top: -2.3vh;
  transition: transform 0.3s;
  outline: none;
}

.max:hover {
  transform: scale(1.2);
}

.max:active {
  animation: pulse2 0.3s linear forwards;
}

@keyframes pulse2 {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.2);
  }
}

#topbar {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

#grab {
  position: absolute;
  left: -1vw;
  height: 2.5vh;
  width: 96vw;
  bottom: 100%;
  -webkit-app-region: drag;
}

#minimize-table {
  position: absolute;
  transform: scale(1);
  top: -2.2vh;
  right: 1vw;
  width: 1vw;
  height: 2vh;
  outline: none;
  fill: var(--main);
  transition: transform 0.3s;
}
#minimize-table:hover {
  transform: scale(1.2);
}

#minimize-table:active {
  animation: pulse 0.3s linear forwards;
}

#minimize-search {
  position: absolute;
  transform: scale(1);
  top: 1vw;
  right: 3vw;
  width: 5vw;
  height: auto;
  outline: none;
  fill: var(--main);
  transition: transform 0.3s;
}

#minimize-search:hover {
  transform: scale(1.2);
}

#minimize-search:active {
  animation: pulse 0.3s linear forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.5);
  }
}

/* PROGRESS BAR */
#progress-fade {
  position: absolute;
  top: -50px;
  left: -50px;
  visibility: hidden;
  width: 150%;
  height: 150%;
  backdrop-filter: none;
  z-index: 4;
  transition: backdrop-filter 0.1s linear;
}

/* NOTIFICATION POPUPS */
/* LOCK BUTTON POPUP */
#lockbutton-popup {
  position: absolute;
  top: 4vh;
  right: 24vw;
  transform: scale(0);
  z-index: 3;
  width: 300px;
  height: 240px;
  text-align: justify;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid var(--main);
  filter: drop-shadow(2px 4px 6px black);
}
#lockbutton-popup[open] {
  animation: popup-notify 0.1s linear 1 forwards;
}
#lockbutton-popup p {
  position: relative;
  bottom: 25px;
}
#lockbutton-popup h3 {
  position: relative;
  top: -20px;
}
#lockbutton-yes {
  position: absolute;
  top: 5px;
  right: 40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  transition: box-shadow 0.3s;
}
#lockbutton-yes svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

#lockbutton-yes:active {
  transform: scale(0.9);
}
#lockbutton-yes:hover {
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.8);
}

#lockbutton-no {
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  right: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: box-shadow 0.3s;
}
#lockbutton-no svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
#lockbutton-no:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
}
#lockbutton-no:hover {
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.8);
}

/* EXMILL POPUP */
#exmill-popup {
  position: absolute;
  transform: scale(0);
  bottom: 6vh;
  left: -28vw;
  z-index: 3;
  width: 16vw;
  height: 21vh;
  text-align: justify;
  font-size: 0.8vw;
  border-radius: 3px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 10px 3px rgba(50, 50, 50, 0.5);
}
#exmill-popup[open] {
  animation: popup-notify-small 0.1s linear 1 forwards;
}
#exmill-popup p {
  position: relative;
  bottom: 3vh;
}
#exmill-popup h3 {
  position: relative;
  top: -2vh;
  font-size: 0.95vw;
}
#exmill-yes {
  position: absolute;
  top: 1vh;
  right: 0.8vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #fff;
}
#exmill-yes svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

#exmill-yes:active {
  transform: scale(0.9);
}

#connection-logo {
  width: 12vw;
  position: absolute;
  top: 1vh;
}
#connection-internal {
  position: absolute;
  display: flex;
  z-index: 5;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  border-radius: 3px;
  height: 38vh;
  width: 21vw;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

#connection-close {
  position: absolute;
  bottom: 3vh;
  background-color: var(--button-red);
  height: 3.5vh;
  width: 18vw;
}

#connection-close:hover {
  background-color: var(--button-red-hover);
}
#connection-close:active {
  transform: scale(0.9);
}

#connection-info {
  position: absolute;
  top: 21vh;
  font-size: 0.7vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 10vh;
  width: 18vw;
  line-height: 1.5em;
}

#connection-logo-customer {
  width: 50vw;
  position: absolute;
  top: 2vh;
}
#connection-internal-customer {
  display: flex;
  position: absolute;
  z-index: 5;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  border-radius: 3px;
  height: 70vh;
  width: 85vw;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

#connection-close-customer {
  position: absolute;
  font-size: 6vw;
  bottom: 5vh;
  background-color: var(--button-red);
  width: 80vw;
  height: 10vh;
}

#connection-close-customer:hover {
  background-color: var(--button-red-hover);
}

#connection-close-customer:active {
  transform: scale(0.9);
}
#connection-info-customer {
  position: absolute;
  top: 39vh;
  width: 80vw;
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 10vh;
  line-height: 1.5em;
}

/* ////////// */
/* MEDIA CSS */
/* //////// */
@media screen and (max-width: 1280px) {
  th {
    height: 10%;
  }

  #border {
    width: 99%;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }
  /*  
  #minimize-table {
    right: 15px;
    top: -15px;
    width: 12px;
  } */

  #customer-contact-container > span {
    width: 98%;
    height: 95%;
    padding-bottom: 10px;
  }

  /* UNTREATED COLUMNS */
  /* TOP */
  #CU0:hover::before,
  #CU3:hover::before,
  #CU6:hover::before,
  #CU9:hover::before,
  #CU12:hover::before,
  #CU15:hover::before,
  #CU18:hover::before,
  #CU21:hover::before,
  #CU24:hover::before,
  #CU27:hover::before {
    right: 75%;
  }
  /* MIDDLE */
  #CU1:hover::before,
  #CU4:hover::before,
  #CU7:hover::before,
  #CU10:hover::before,
  #CU13:hover::before,
  #CU16:hover::before,
  #CU19:hover::before,
  #CU22:hover::before,
  #CU25:hover::before,
  #CU28:hover::before {
    right: 75%;
  }
  /* BOTTOM */
  #CU2:hover::before,
  #CU5:hover::before,
  #CU8:hover::before,
  #CU11:hover::before,
  #CU14:hover::before,
  #CU17:hover::before,
  #CU20:hover::before,
  #CU23:hover::before,
  #CU26:hover::before,
  #CU29:hover::before {
    right: 75%;
  }

  /* TREATED COLUMNS */
  /* TOP */
  #CT0:hover::before,
  #CT3:hover::before,
  #CT6:hover::before,
  #CT9:hover::before,
  #CT12:hover::before,
  #CT15:hover::before,
  #CT18:hover::before,
  #CT21:hover::before,
  #CT24:hover::before,
  #CT27:hover::before {
    right: 75%;
  }
  /* MIDDLE */
  #CT1:hover::before,
  #CT4:hover::before,
  #CT7:hover::before,
  #CT10:hover::before,
  #CT13:hover::before,
  #CT16:hover::before,
  #CT19:hover::before,
  #CT22:hover::before,
  #CT25:hover::before,
  #CT28:hover::before {
    right: 75%;
  }
  /* BOTTOM */
  #CT2:hover::before,
  #CT5:hover::before,
  #CT8:hover::before,
  #CT11:hover::before,
  #CT14:hover::before,
  #CT17:hover::before,
  #CT20:hover::before,
  #CT23:hover::before,
  #CT26:hover::before,
  #CT29:hover::before {
    right: 75%;
  }

  #CU0:hover::after,
  #CU3:hover::after,
  #CU6:hover::after,
  #CU9:hover::after,
  #CU12:hover::after,
  #CU15:hover::after,
  #CU18:hover::after,
  #CU21:hover::after,
  #CU24:hover::after,
  #CU27:hover::after {
    transform: scaleY(0.5);
  }
  #CU1:hover::after,
  #CU4:hover::after,
  #CU7:hover::after,
  #CU10:hover::after,
  #CU13:hover::after,
  #CU16:hover::after,
  #CU19:hover::after,
  #CU22:hover::after,
  #CU25:hover::after,
  #CU28:hover::after {
    transform: scaleY(0.5);
  }

  #CU2:hover::after,
  #CU5:hover::after,
  #CU8:hover::after,
  #CU11:hover::after,
  #CU14:hover::after,
  #CU17:hover::after,
  #CU20:hover::after,
  #CU23:hover::after,
  #CU26:hover::after,
  #CU29:hover::after {
    transform: scaleY(0.5);
  }
  #CT0:hover::after,
  #CT3:hover::after,
  #CT6:hover::after,
  #CT9:hover::after,
  #CT12:hover::after,
  #CT15:hover::after,
  #CT18:hover::after,
  #CT21:hover::after,
  #CT24:hover::after,
  #CT27:hover::after {
    transform: scaleY(0.5);
  }
  #CT1:hover::after,
  #CT4:hover::after,
  #CT7:hover::after,
  #CT10:hover::after,
  #CT13:hover::after,
  #CT16:hover::after,
  #CT19:hover::after,
  #CT22:hover::after,
  #CT25:hover::after,
  #CT28:hover::after {
    transform: scaleY(0.5);
  }
  #CT2:hover::after,
  #CT5:hover::after,
  #CT8:hover::after,
  #CT11:hover::after,
  #CT14:hover::after,
  #CT17:hover::after,
  #CT20:hover::after,
  #CT23:hover::after,
  #CT26:hover::after,
  #CT29:hover::after {
    transform: scaleY(0.5);
  }

  #customer-displaybox-container {
    width: 20vw;
  }
}
