/* Set main colors */
:root {
  --main: #000;
  --main-hover: rgb(46, 45, 45);
  --main-light: rgba(46, 45, 45, 0.08);
  --sec-blue: #05899c;
  --sec-blue-hover: #036b7a;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #a52626;

  --button-green: #00b894;
  --button-green-hover: #038369;
  --button-gold: #fe7c04;
  --auto: rgba(254, 125, 4, 0.08);
  --man: rgba(0, 184, 147, 0.08);

  --button-gold-hover: #bd5d03;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --hover-gold: rgb(254, 124, 4, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
  --dark-green: rgb(3, 146, 3);
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}
html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 94vw;
  height: 62vh;
  border: 1px solid lightgray;
  margin-top: 2vh;
}

header {
  position: relative;
  top: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  height: 7vh;
  width: 96vw;
}

#grab {
  width: 96vw;
  height: 7vh;
  position: absolute;
  top: 0;
  z-index: 3;
  -webkit-app-region: drag;
}

#p2s-logo-ask {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 7vh;
  z-index: 3;
}
#p2s-logo-ask img {
  position: absolute;
  top: -1vh;
  left: 20vw;
  height: 20vh;
}
#p2s-logo-ask::after {
  content: 'Copy';
  top: 1vh;
  right: 20vw;
  position: absolute;
  font-family: Forelle;
  font-size: 20vw;
}

#p2sys-logo {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}
#p2sys-logo img {
  position: relative;
  height: 8vh;
}

body {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#border {
  position: relative;
  visibility: hidden;
  padding: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 96vw;
  height: 22vh;
  border-radius: 3px;
  margin-top: 1.5vh;
}

#button-container {
  position: absolute;
  bottom: 0.5vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 94vw;
  height: 10vh;
}

.customer-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 1vh;
  font-size: 6vw;
  background-color: #fff;
  padding: 2vh 0;
  width: 92vw;
  height: auto;
}

.customer-name:hover {
  color: #fff;
  background-color: var(--hover-blue);
}

.customer-name-clicked {
  color: #fff;
  font-size: 6vw;
  margin-top: 1vh;
  padding: 2vh 0;
  background-color: var(--sec-blue);
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 92vw;
}

#container-background {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 62vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#container-background::-webkit-scrollbar {
  width: 1vw;
}
#container-background::-webkit-scrollbar-thumb {
  height: 6vh;
  background-color: lightgray;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 96vh;
  width: 96vw;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

.loading-container {
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  font-size: 6vw;
  font-weight: bolder;
  width: 89vw;
  background-color: #fff;
  height: 100%;
}

.spinner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 5px solid var(--sec-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 5px solid var(--button-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 5px solid var(--button-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader-customer-search {
  width: 92vw;
}

#customer-search-container {
  position: absolute;
  display: flex;
  bottom: 11vh;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  height: 12vh;
  width: 96vw;
}

#customer-search {
  text-transform: uppercase;
  font-size: 6vw;
  position: relative;
  border: 2px solid #fff;
  text-align: center;
  width: 92vw;
  height: 8vh;
  color: var(--text-color);
  transition: box-shadow 0.5s;
}

#customer-search:focus {
  outline: none;
  z-index: 3;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

#customer-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fff;
}

#search-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 94vw;
  border: 1px solid var(--button-disabled);
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: var(--button-gold);
  color: #fff;
  border: 1px solid #fff;
  font-size: 6vw;
  width: 50vw;
  height: 10vh;
}

.btn-disabled {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: grey;
  color: #fff;
  border: 1px solid #fff;
  font-size: 6vw;
  width: 50vw;
  height: 10vh;
}
#disabled {
}

#select {
  background-color: var(--button-green);
}

#select:hover {
  background-color: var(--button-green-hover);
}
#select:active {
  transform: scale(0.95);
}

#create {
  background-color: var(--button-gold);
}

#create:hover {
  background-color: var(--button-gold-hover);
}
#create:active {
  transform: scale(0.95);
}

#create::after {
  content: 'Multi';
  position: absolute;
  right: 0.2vw;
  bottom: 0;
  font-size: 3.5vw;
}

#back {
  background-color: var(--button-red);
}

#back:hover {
  background-color: var(--button-red-hover);
}
#back:active {
  transform: scale(0.95);
}

#select-back {
  background-color: var(--button-red);
  width: 89vw;
}

#select-back:hover {
  background-color: var(--button-red-hover);
}
#select-back:active {
  transform: scale(0.95);
}

#ask-user {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: 96vw;
  height: 96vh;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}

#ask-container {
  position: absolute;
  bottom: 6vh;
  height: 70vh;
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

#existing-customer-btn {
  background-color: var(--sec-blue);
  width: 89vw;
}
#existing-customer-btn:hover {
  background-color: var(--sec-blue-hover);
}
#existing-customer-btn:active {
  transform: scale(0.95);
}

#copy-to-multiple {
  width: 89vw;
}

#copy-to-multiple:hover {
  background-color: var(--button-gold-hover);
}
#copy-to-multiple:active {
  transform: scale(0.95);
}

#new-container {
  position: absolute;
  top: 60px;
  width: 240px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid #fff;
  border-radius: 10px;
}

#new-customer-btn {
  background-color: var(--button-green);
  width: 89vw;
}
#new-customer-btn:hover {
  background-color: var(--button-green-hover);
}
#new-customer-btn:active {
  transform: scale(0.95);
}
#connection-container {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 98vw;
  height: 98vh;
  visibility: hidden;
  backdrop-filter: blur(2px);
}

#connection-logo {
  width: 50vw;
  position: absolute;
  top: 15vh;
}
#connection-internal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  border-radius: 3px;
  height: 70vh;
  width: 85vw;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

#connection-close {
  position: absolute;
  bottom: 19vh;
  height: 10vh;
  background-color: var(--button-red);
  width: 80vw;
}

#connection-close:hover {
  background-color: var(--button-red-hover);
}

#connection-info {
  position: absolute;
  top: 52vh;
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 1.5em;
  height: 10vh;
  width: 90vw;
}
