/* Set main colors */
:root {
  --main: #000;
  --main-hover: rgb(46, 45, 45);
  --sec-blue: #05899c;
  --sec-blue-hover: #036b7a;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #a52626;

  --button-green: #00b894;
  --button-green-hover: #038369;
  --button-gold: #fe7c04;
  --auto: rgba(254, 125, 4, 0.08);
  --man: rgba(0, 184, 147, 0.08);

  --button-gold-hover: #bd5d03;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/* Main Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
}

#container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s;
}
#round {
  position: relative;
  width: 90vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

#internal-container {
  position: absolute;
  top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 90vw;
  height: 46vh;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#db {
  position: absolute;
  bottom: -16vh;
}
#db-logo {
  position: relative;
  animation: none;
  /* animation: connect 0.5s linear infinite alternate; */
}

@keyframes connect {
  0% {
    fill: var(--button-green);
  }
  100% {
    fill: #fff;
  }
}

#psys-logo {
  position: absolute;
  display: flex;
  top: 9vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 75vw;
  height: 10vh;
}

#psys-logo-container {
  position: absolute;
  height: 10vh;
  width: 78vw;
  z-index: 1;
  -webkit-app-region: drag;
}
#psys-logo-container img {
  position: absolute;
  left: 0;
  top: -9vh;
  height: 28vh;
  -webkit-user-drag: none;
  -webkit-app-region: drag;
}
#psys-logo-container::after {
  position: absolute;
  content: 'Converter';
  font-family: Forelle;
  font-size: 20vw;
  top: -5vh;
  right: 0;
  -webkit-app-region: drag;
}

/* BUTTONS */
.btn {
  display: flex;
  justify-content: center;
  border-radius: 200px;
  text-align: center;
  padding: 10px 20px;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

#info {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  width: 12vw;
  height: 12vw;
  bottom: -16vh;
  right: 7vw;
}
#info-icon {
  position: relative;
  border-radius: 50%;
  fill: var(--main);
  width: 10vw;
}

#info:active {
  transform: scale(0.9);
}

#minimize {
  position: absolute;
  transform: scale(1);
  width: 6vw;
  height: auto;
  top: -31vh;
  right: 5vw;
  outline: none;
  fill: var(--main);
  transition: transform 0.3s;
}
#minimize:hover {
  transform: scale(1.3);
}

#minimize:active {
  animation: pulse 0.3s linear forwards;
}

#mute {
  position: absolute;
  width: 9vw;
  height: auto;
  bottom: -16vh;
  left: 7vw;
}
#mute-logo {
  position: relative;
}

@keyframes pulse {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.3);
  }
}

#arrow {
  position: absolute;
  z-index: 0;
  width: 6vw;
  height: 6vw;
  bottom: 0;
  right: 0;
}

#arrow-logo {
  position: absolute;
  width: 6vw;
  height: 6vw;
}

.btn-full {
  position: absolute;
  top: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1vh 0;
  background-color: var(--button-green);
  color: #fff;
  border: 2px solid var(--button-green);
  width: 89vw;
  font-size: 8vw;
}

.btn-full:hover {
  background-color: var(--button-green-hover);
  border: 2px solid var(--button-green-hover);
}

.btn-full:active {
  transform: scale(0.95);
}

.btn-exit {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1vh 0;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid var(--button-red);
  width: 89vw;
  font-size: 8vw;
}

.btn-exit:hover {
  background-color: var(--button-red-hover);
  border: 2px solid var(--button-red-hover);
}
.btn-exit:active {
  transform: scale(0.95);
}

.settings-btn {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #000;
}
#settings-icon {
  position: absolute;
  width: 30px;
}
#dev-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 40px;
}

#back-icon {
  position: absolute;
  top: 4px;
  width: 84%;
  fill: #fff;
  transition: fill 0.5s;
}

.mail:hover,
.settings-btn:hover {
  background-color: #fff;
  color: var(--sec-blue);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.mail:active,
.settings-btn:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn-back:hover {
  background-color: #fff;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.btn-back:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

/* SYSTEM SETTINGS PAGE */

.system-settings {
  z-index: 2;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 90vw;
  align-content: center;
  background-color: #fff;
}

#system-settings-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
}

/* BUTTONS */
.system-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vw;
  width: 89vw;
  height: 13vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: var(--button-gold);
  border: 1px solid #fff;
  color: #fff;
}

.system-btn:hover {
  background-color: var(--button-gold-hover);
}

#back-btn-system {
  background-color: var(--button-red);
}
#back-btn-system:hover {
  background-color: var(--button-red-hover);
}

#back-btn-system:active {
  transform: scale(0.95);
}

#email-setup:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

#clear-cached-emails:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#clear-cached-pricelists:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

/* PAUSE EMAILS BUTTON POPUP */
#removepausedprices-popup {
  position: absolute;
  bottom: 20vh;
  transform: scale(0);
  z-index: 3;
  width: 88vw;
  height: 60vh;
  text-align: justify;
  font-size: 6vw;
  border-radius: 3px;
  border: 1px solid var(--main);
  filter: drop-shadow(2px 4px 6px black);
}
#removepausedprices-popup[open] {
  animation: popup-notify-small 0.3s linear 1 forwards;
}
#removepausedprices-popup p {
  position: relative;
  bottom: 3vh;
}
#removepausedprices-popup h3 {
  position: relative;
  top: -3vh;
  font-size: 6vw;
}
#removepausedprices-yes {
  position: absolute;
  top: 5vh;
  right: 20vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #fff;
}
#removepausedprices-yes svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

#removepausedprices-yes:active {
  transform: scale(0.9);
}

#removepausedprices-no {
  position: absolute;
  top: 5vh;
  width: 10vw;
  height: 10vw;
  right: 5vw;
  border-radius: 50%;
  background-color: #fff;
}
#removepausedprices-no svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
#removepausedprices-no:active {
  transform: scale(0.9);
}

@keyframes popup-notify {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popup-notify-small {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
