:root {
  --psys-blue: #09e1ff;
  --psys-red: #fe1604;
  --psys-green: #03c224;

  --main: #000;
  --sec-blue: #05899c;
  --button-red: #fe1604;
  --button-green: #03c224;
  --button-gold: #fe7c04;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/* Main Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

button {
  outline: none;
}

#container {
  position: relative;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}
#round {
  position: relative;
  width: 350px;
  height: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#internal-container {
  position: relative;
  top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid var(--main);
  border-radius: 20px;
  width: 80%;
  height: 240px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#psys-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--sec-blue);
  border: 2px solid var(--main);
  border-radius: 20px;
  height: 100px;
  width: 100%;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#psys-logo-container {
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--main);
  border-radius: 50%;
  height: 120px;
  width: 350px;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 1;
  -webkit-app-region: drag;
}
#psys-logo-container img {
  position: absolute;
  bottom: 6px;
  left: 50px;
  height: 120px;
}
#psys-logo-container::after {
  position: absolute;
  content: 'Converter';
  font-family: Forelle;
  font-size: 65px;
  top: 23px;
  right: 25px;
}
#logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 3px solid var(--main);
  border-radius: 20px;
  bottom: 0;
  background-color: var(--sec-blue);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#logo img {
  position: relative;
  filter: drop-shadow(2px 4px 6px black);
  width: 80%;
  -webkit-user-drag: none;
}

#version-info {
  position: absolute;
  top: 120px;
  font-size: 15px;
  background-color: var(--sec-blue);
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
  font-weight: bold;
}

.about-screen footer {
  font-size: 12px;
  font-style: italic;
  padding-top: 20px;
  position: absolute;
  bottom: 12px;
}
.text {
  font-size: 11px;
  font-weight: bolder;
  text-align: center;
  padding: 1vh 3vw;
}
.text::after {
  content: attr(data-label);
}

#db {
  border: 2px solid #c5c5c5;
  bottom: 20px;
  height: 22px;
}

.db-light {
  position: absolute;
  bottom: 15px;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.db-fail {
  position: absolute;
  bottom: 15px;
  color: #fff;
  border-radius: 50%;
  background-color: var(--button-red);
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.db-connected {
  position: absolute;
  bottom: 15px;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
  animation: db-success 1.5s ease-in-out infinite alternate;
}

.db-update {
  position: absolute;
  bottom: 15px;
  color: #fff;
  border-radius: 50%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: inset 1px 1px 1px 0px rgba(50, 50, 50, 0.25);
  animation: db-flash 0.1s linear infinite alternate;
}

@keyframes db-success {
  from {
    background-color: #e1e1e1;
  }
  to {
    background-color: var(--button-green);
  }
}

@keyframes db-flash {
  from {
    background-color: dodgerblue;
  }
  to {
    background-color: var(--button-green);
  }
}

/* ABOUT SCREEN */
#h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -12px;
  width: 100%;
}
#h2 img {
  position: relative;
  height: 130px;
  top: 0;
  right: 50px;
}

#h2::after {
  content: 'About';
  font-family: Forelle;
  font-size: 65px;
  position: absolute;
  left: 192px;
  top: 39px;
}

.about-screen {
  z-index: 2;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  width: 370px;
  align-content: center;
  background-color: #fff;
  border: 4px solid #111;
  border-radius: 20px;
  transition: visibility 0.3s 0.3s, opacity 0.3s 0.3s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
.paragraph {
  position: relative;
  top: 25px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  text-align: justify;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 40px;
  height: 50px;
  width: 250px;
}

/* BUTTONS */
.btn {
  display: flex;
  justify-content: center;
  border-radius: 200px;
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

#info {
  position: absolute;
  border-radius: 50%;
  background-color: var(--sec-blue);
  border: 0.5px solid var(--sec-blue);
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  transition: box-shadow 0.5s;
}
#info-icon {
  position: relative;
  fill: #fff;
  width: 132%;
  height: 100%;
  left: -2px;
}

#info-icon:hover {
  fill: var(--sec-blue);
}

#info:hover {
  background-color: #fff;
  border: 1.5px solid var(--sec-blue);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#info:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn-full {
  position: absolute;
  display: flex;
  top: 40px;
  justify-content: center;
  border-radius: 200px;
  text-align: center;
  padding: 5px 0;
  font-weight: bolder;
  background-color: var(--button-green);
  color: #fff;
  border: 4px solid var(--button-green);
  width: 145px;
  font-size: 30px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.btn-full:hover {
  background-color: #fff;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.btn-full:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn-exit {
  position: absolute;
  top: 120px;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  text-align: center;
  padding: 5px 0px;
  font-weight: bolder;
  background-color: var(--button-red);
  color: #fff;
  border: 4px solid var(--button-red);
  width: 145px;
  font-size: 30px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.btn-disabled {
  position: absolute;
  top: 120px;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  text-align: center;
  padding: 5px 0px;
  font-weight: bolder;
  background-color: grey;
  color: #fff;
  border: 4px solid grey;
  width: 145px;
  font-size: 30px;
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.btn-exit:hover {
  background-color: #fff;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.btn-exit:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.mail,
.btn-back,
.settings-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px 10px;
  font-weight: bolder;
  font-size: 12px;
  background-color: var(--sec-blue);
  border-radius: 200px;
  margin-top: 20px;
  color: #fff;
  border: 2px solid var(--sec-blue);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);

  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
.mail {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 4px;
}
.btn-back {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--button-red);
  border: 2px solid var(--button-red);
  height: 50px;
  width: 50px;
}
.settings-btn {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #000;
}
#settings-icon {
  position: absolute;
  width: 30px;
}
#dev-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 40px;
}

#back-icon {
  position: absolute;
  top: 4px;
  width: 84%;
  fill: #fff;
  transition: fill 0.5s;
}

.mail:hover,
.settings-btn:hover {
  background-color: #fff;
  color: var(--sec-blue);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.mail:active,
.settings-btn:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn-back:hover {
  background-color: #fff;
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}
.btn-back:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#back-icon:hover {
  fill: var(--button-red);
}

/* SYSTEM SETTINGS PAGE */

.system-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);

  z-index: 2;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  width: 370px;
  align-content: center;
  background-color: #fff;
  border: 4px solid #111;
  border-radius: 20px;
  transition: visibility 0.5s, opacity 0.3s;
}
#system-settings-header {
  position: absolute;
  display: flex;
  top: 5px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 30px;
  width: 100%;
  height: 100px;
  border-radius: 200px;
}
#system-settings-header img {
  position: relative;
  height: 130px;
  left: 41px;
  top: 0;
}

#system-settings-header::after {
  position: absolute;
  content: 'Settings';
  font-size: 65px;
  right: 50px;
  top: 28px;
  font-family: Forelle;
}

#system-settings-btn-container {
  display: flex;
  top: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}
#setup-container,
#system-utils {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  height: 50%;
  width: 90%;
}

/* BUTTONS */
.system-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 200px;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  width: 250px;
  height: 31px;
  margin-top: 20px;
  border: 0.5px solid #000;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, font-weight 0.5s, color 0.5s, box-shadow 0.5s;
}

.system-btn-disabled {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 200px;
  text-align: center;
  background-color: grey;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  width: 250px;
  height: 31px;
  margin-top: 20px;
  border: 0.5px solid grey;
}

.system-btn:hover {
  border: 2px solid #000;
  font-weight: bolder;

  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#back-btn-system {
  position: relative;
  bottom: 0;
}
#back-btn-system:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.system-settings footer {
  font-size: 12px;
  font-style: italic;
  padding-top: 20px;
  position: absolute;
  bottom: 8px;
}

#email-setup:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

#database-setup:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#clear-cached-emails:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#clear-cached-pricelists:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#db-update:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
