:root {
  --psys-blue: #09e1ff;
  --psys-red: #fe1604;
  --psys-green: #04fe30;
  --main-blue: #3e6ba6ff;
  --sec-blue: #8eafdafb;
  --button-red: #cf2115;
  --button-green: #80c432;
  --button-gold: #d9793b;
  --man: #497813;
  --opaque-man: #487613cc;
  --auto: #d9793b;
  --opaque-auto: #d97a3acc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
}

.spinner-inside {
  position: relative;
    top: 14vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 4vh;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #fff;
    border: 3px solid black;
    z-index: 1;
    box-shadow: 2px 0px 20px -6px rgba(50, 50, 50, 0.75));
}

#progress {
  position: relative;
  width: 40vw;
  height: 3vh;
  background-color: #111;
  border-radius: 1.5em;
  border: 2px solid #fff;
  color: #fff;
}
#progress::before {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: calc(var(--width, 0) * 1%);
  min-width: 0.5rem;
  max-width: calc(100% - 4px);
  background-color: var(--psys-blue);
  border-radius: 1em;
}
#progress::after {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6px;
  bottom: 5px;
  left: 20px;
  content: '';
  width: 100%;
}
#logo {
  position: absolute;

  width: 32vw;
  bottom: 25vh;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 20px solid var(--psys-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 20px solid var(--psys-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 20px solid var(--psys-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
