:root {
  --main: #000;
  --main-hover: rgb(46, 45, 45);
  --sec-blue: #05899c;
  --sec-blue-hover: #08d1ee;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --auto: rgba(254, 125, 4, 0.2);
  --man: rgba(0, 184, 147, 0.2);

  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 78vh;
  width: 92vw;
}
#header {
  display: flex;
  position: relative;
  width: 92vw;
  height: 15vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#boundry {
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-user-select: none;
}
#logo-background {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
  -webkit-app-region: drag;
}
#logo-background::after {
  content: 'Mailer';
  position: relative;
  font-size: 15vw;
  font-family: Forelle;
}

.logo {
  position: relative;
  height: 22vw;
  -webkit-user-drag: none;
}

body {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#border {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.text-container {
  position: absolute;
  top: 0;
  transform-origin: top;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#email-entry {
  height: 14vh;
  margin-bottom: 2vh;
}

#email-entry::-webkit-scrollbar {
  width: 4px;
}
#email-entry::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #c1c1c1;
}

.entry {
  bottom: 4vh;
  position: relative;
  border: 1px solid #000;
  width: 90vw;
  height: 43.5vh;
  outline: none;
  padding: 1vw;
  resize: none;
  font-size: 4vw;
}

#email-message::-webkit-scrollbar {
  width: 4px;
}
#email-message::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #c1c1c1;
}

.label {
  display: flex;
  position: relative;
  bottom: 3vh;
  left: 1vw;
  justify-content: left;
  font-weight: bold;
  width: 91vw;
  padding-bottom: 1vh;
  font-size: 4.5vw;
}

#letter {
  position: relative;
  top: -18px;
  left: -3px;
  height: 70px;
  width: 100%;
  fill: #000;
  transition: fill 0.5s;
}

#send {
  position: absolute;
  bottom: 0;
  background-color: var(--button-green);
  border: 2px solid var(--button-green);
  font-size: 6vw;
  font-weight: bold;
  width: 35vw;
  height: 8vh;
  outline: none;
  color: #fff;
}
#send:hover {
  background-color: var(--button-green-hover);
  border: 2px solid var(--button-green-hover);
}

#send:active {
  transform: scale(0.95);
}

#failed-container {
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 4px;
  opacity: 1;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  -webkit-app-region: drag;
  border-radius: 50%;
  fill: #fff;
  background-color: var(--button-red);
  animation: none;
  transition: opacity 0.3s 4s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
/* shake 0.2s linear infinite alternate */
@keyframes shake {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

#sent-container {
  position: absolute;
  transform: scale(0);
  opacity: 1;
  width: 38px;
  height: 38px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  fill: #fff;
  background-color: var(--button-green);
  -webkit-app-region: drag;
  animation: none;
  transition: opacity 0.3s 4s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
/* pop 0.3s linear 1 forwards */

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#sending-container {
  position: absolute;
  transform: scale(0);
  width: 38px;
  height: 38px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  fill: #fff;
  background-color: var(--button-gold);
  animation: pulse 1s ease-in-out infinite;
  -webkit-app-region: drag;
  transition: transform 0.3s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#sent {
  position: relative;
  top: 3px;
}

#fail {
  position: relative;
  top: 3px;
}

#sending {
  position: relative;
  top: 3px;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
