:root {
  --main-blue: #3e6ba6ff;
  --sec-blue: #8eafdafb;
  --button-red: #cf2115;
  --button-green: #80c432;
  --button-gold: #d9793b;
  --opaque-man: rgba(128, 196, 50, 0.4);
  --auto: #d9793b;
  --opaque-auto: rgba(217, 122, 58, 0.3);
  --sent-color: #cbe558;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  background-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-user-select: none;
}
header {
  position: relative;
  top: -4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
}
.logo {
  position: relative;
  left: 19px;
  height: 95%;
  padding-top: 5px;
}
.logo-text {
  font-family: Forelle;
  position: relative;
  right: -4px;
  font-size: 90px;
}
body {
  width: 530px;
  height: 730px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#border {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  background-image: url(../icons/whitcher-logo-small-opacity.png);
  background-position: center;
  background-color: #fff;
  width: 500px;
  height: 700px;
  box-shadow: 1px 1px 19px 0px rgba(50, 50, 50, 1);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.text-container {
  position: relative;
  border: 4px solid var(--main-blue);
  border-radius: 20px;
  top: -7px;
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: var(--sec-blue);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#email-entry {
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
}

#email-entry::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#email-entry::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

.entry {
  border-radius: 10px;
  border: 2px solid #fff;
  width: 400px;
  height: 180px;
  outline: none;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
  font-size: 16px;
}

#email-message::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#email-message::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

.excel-image {
  width: 34px;
}
.label {
  display: flex;
  position: relative;
  left: -25px;
  justify-content: left;
  font-weight: bold;
  width: 350px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.excel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 200px;
  padding: 5px;
}

.link {
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #000000;
}

#file-a-label {
  margin-left: 10px;
  font-size: 16px;
}
#file-b-label {
  margin-left: 10px;
  font-size: 16px;
}

#letter {
  position: relative;
  top: -20px;
  left: -3px;
  height: 85px;
  width: 100%;
  fill: #fff;
  transition: fill 0.5s;
}

#send {
  position: relative;
  height: 50px;
  width: 40%;
  top: 30px;
  background-color: var(--button-green);
  border-radius: 200px;
  border: 3px solid var(--button-green);
  outline: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
#send:hover {
  background-color: #fff;
  border: 3px solid var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#send:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

#letter:hover {
  fill: var(--button-green);
}
#sent-letter-container {
  /* visibility: visible; */
  opacity: 1;
  position: absolute;
  transform: scaleY(0);
  height: 140px;
  width: 200px;
  border-radius: 24px;
  background-color: #fff;
  transition: transform 0.8s 0.3s, opacity 0.8s 0.3s;
  box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 1);
}
#sent-letter-container::before {
  position: absolute;
  font-size: 45px;
  top: 160px;
  font-weight: bolder;
  content: attr(data-label);
  animation: sending 0.3s linear infinite alternate;
}
#sent-letter-container::after {
  position: absolute;
  text-align: center;
  color: #cf2115;
  right: -6px;
  font-size: 45px;
  top: 160px;
  font-weight: bolder;
  content: attr(data-fail);
}

@keyframes sending {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#sent-letter {
  position: relative;
  bottom: 30px;
  width: 200px;
}

#check-container {
  /* visibility: visible; */
  opacity: 1;
  transform: rotate(0deg) scale(0);
  position: absolute;
  width: fit-content;
  transition: transform 0.8s, opacity 0.8s;
}

#check {
  position: relative;
  width: 120px;
  height: auto;
}
