:root {
  --psys-blue: #05899c;
  --psys-red: #fe1604;
  --psys-green: #03c224;

  --main: #000;
  --sec-blue: #05899c;
  --button-red: #fe1604;
  --button-green: #03c224;
  --button-gold: #fe7c04;
  --opaque-man: rgba(128, 196, 50, 0.4);
  --auto: #d9793b;
  --opaque-auto: rgba(217, 122, 58, 0.3);
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 500px;
  width: 430px;
}
#header {
  display: flex;
  position: relative;
  width: 430px;
  height: 65px;
  background-color: var(--sec-blue);
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  border: 2px solid var(--main);
  z-index: 1;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-user-select: none;
}
#logo-background {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--main);
  filter: drop-shadow(2px 4px 6px black);
}
#logo-background::after {
  content: 'Mailer';
  position: absolute;
  top: 14px;
  right: 30px;
  font-size: 45px;
  font-family: Forelle;
}

.logo {
  position: absolute;
  top: -2px;
  left: 38px;
  height: 75px;
  -webkit-user-drag: none;
}

body {
  width: 530px;
  height: 730px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#border {
  position: relative;
  display: flex;
  transform: scale(0.9);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.text-container {
  position: relative;
  border-radius: 20px;
  top: -48px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: var(--sec-blue);
  border: 2px solid var(--main);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#email-entry {
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
}

#email-entry::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#email-entry::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

.entry {
  border-radius: 10px;
  border: 2px solid #fff;
  width: 400px;
  height: 180px;
  outline: none;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
  font-size: 16px;
}

#email-message::-webkit-scrollbar {
  width: 4px;
  background-color: var(--main-blue);
}
#email-message::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

.excel-image {
  width: 34px;
}
.label {
  display: flex;
  position: relative;
  left: -25px;
  justify-content: left;
  font-weight: bold;
  width: 350px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.excel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 200px;
  padding: 5px;
  overflow: auto;
}

.excel::-webkit-scrollbar {
  height: 4px;
  background-color: var(--main-blue);
}
.excel::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
}

.link {
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #000000;
}

#file-a-label {
  margin-left: 10px;
  font-size: 16px;
}
#file-b-label {
  margin-left: 10px;
  font-size: 16px;
}

#letter {
  position: relative;
  top: -20px;
  left: -3px;
  height: 85px;
  width: 100%;
  fill: #fff;
  transition: fill 0.5s;
}

#send {
  position: relative;
  height: 50px;
  width: 40%;
  top: 15px;
  background-color: var(--button-gold);
  border-radius: 200px;
  border: 3px solid var(--button-gold);
  outline: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}
#send:hover {
  background-color: #fff;
  border: 3px solid var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#send:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

#letter:hover {
  fill: var(--button-gold);
}
#sent-letter-container {
  /* visibility: visible; */
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  transform: scaleY(0);
  height: 109px;
  width: 150px;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.8s 0.3s, opacity 0.8s 0.3s;
  box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 1);
}
#sent-letter-container::before {
  position: absolute;
  font-size: 45px;
  top: 125px;
  font-weight: bolder;
  content: attr(data-label);
  animation: sending 0.3s linear infinite alternate;
}
#sent-letter-container::after {
  position: absolute;
  text-align: center;
  color: #cf2115;
  font-size: 45px;
  top: 125px;
  font-weight: bolder;
  content: attr(data-fail);
}

@keyframes sending {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#sent-letter {
  position: relative;
  bottom: 20px;
  width: 150px;
}

#check-container {
  /* visibility: visible; */
  opacity: 1;
  transform: rotate(0deg) scale(0);
  position: absolute;
  width: fit-content;
  transition: transform 0.8s, opacity 0.8s;
}

#check {
  position: relative;
  width: 120px;
  height: auto;
}
@media screen and (max-width: 1280px) {
  #border {
    transform: scale(0.95);
  }
}
